@model RetailSlnModels.ApiShoppingCartModel
<div style="width: 54%;">
    @Html.Partial("_ShoppingCartHeader")
    @*<hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />*@
    @Html.Partial("_ShoppingCartDelivery")
    @*<hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />*@
    @Html.Partial("_ShoppingCartItem")
    @*<hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />*@
    @Html.Partial("_ShoppingCartSummary")
</div>
