@using ArchitectureLibraryCacheData
@using ArchitectureLibraryMenuCacheData
@using ArchitectureLibraryModels
@{
    //DivineBija - 97, 98, 99
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
    string loggedInUserEmailAddress, loggedInUserFullName;
    SessionObjectModel sessionObjectModel = (SessionObjectModel)Session["SessionObject"];
    if (sessionObjectModel == null)
    {
        loggedInUserEmailAddress = "";
        loggedInUserFullName = "";
    }
    else
    {
        loggedInUserEmailAddress = sessionObjectModel.EmailAddress;
        loggedInUserFullName = sessionObjectModel.FirstName + " " + sessionObjectModel.LastName;
    }
    string copyrightYear = DateTime.Now.Year.ToString();
}
<table class="table-responsive" style="border-style: none; margin-left: auto; margin-right: auto; padding: 0px; width: 99%;">
    <tr>
        <td class="text-left" style="padding: 0px; vertical-align: top;">
            @loggedInUserEmailAddress
            <br style="clear: both;" />
            @loggedInUserFullName
        </td>
        <td class="text-center" style="padding: 0px; vertical-align: top;">
            Powered by <span class="company-highlight">Gajashwa Inc.</span> © Copyright @copyrightYear
        </td>
        <td class="text-right" style="padding: 0px; vertical-align: top;">
            @(ArchLibCache.GetApplicationDefault(clientId, "AddressCityName", "") + " " + ArchLibCache.GetApplicationDefault(clientId, "AddressStateAbbrev", "") + " " + ArchLibCache.GetApplicationDefault(clientId, "AddressZipCode", "") + " " + ArchLibCache.GetApplicationDefault(clientId, "AddressZipPlus4", "") + " " + ArchLibCache.GetApplicationDefault(clientId, "AddressCountryName", ""))
        </td>
    </tr>
</table>
<table class="table-responsive" style="border-style: none; margin-left: auto; margin-right: auto; padding: 0px; width: 54%;">
    <tr>
        <td class="text-center" style="vertical-align: top;">
            @{
                var menuLayoutModels = ArchLibMenuCache.ParentMenuLayoutModels["FOOTERMENU"];
                foreach (var menuLayoutModel in menuLayoutModels)
                {
                    <a href="@Url.Action(menuLayoutModel.MenuUrlAction.ActionName, menuLayoutModel.MenuUrlAction.ControllerName)" style="color: #000000; font-size: 11px; font-weight: bold; padding-right: 3px; text-decoration: underline;">@menuLayoutModel.MenuUrlAction.LinkText</a>
                }
            }
        </td>
    </tr>
</table>
