<div class="modal fade" tabindex="-1" id="divModal" data-keyboard="false" data-backdrop="static" style="overflow: auto;">
    <div class="modal-dialog modal-sm" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="modalTitle" style="color: #ff6347; font-family: 'Times New Roman'; font-weight: bold; font-size: 20px;"></h4>
                <div id="divModalErrorMessage" style="background-color: #e5e4e2; font-size: 15px; font-weight: bold;"></div>
            </div>
            <div class="modal-body" id="divModalBody"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary button button4" id="modalSubmit" onclick="javascript: return modalSubmit_onclick();">Submit</button>
                <button type="button" id="modalClose" class="btn btn-primary" data-dismiss="modal" style="background-color: navy; font-style: inherit; font-weight: bold;">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
