/*StyleSheet1.css*/
* {
    box-sizing: border-box;
}

/* Custom CSS for sticky top navbar */
.center {
    border: 0px none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}

.main-nav.col-md-11.col-lg-11.p-0 {
    padding-left: 38px;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 0px;
}

.add-on .input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

.navbar-nav li a:hover {
    filter: brightness(85%) !important;
    color: cornflowerblue !important;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#myCollapsible .input-group, #myCollapsible .btn {
    width: 100%;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.collapsible-content {
    display: none;
}

    .collapsible-content.show {
        display: block;
    }

.menuLinkLight a {
    color: #ffffff !important;
    font-weight: bold;
}

.menuLinkDark a {
    color: #000000 !important;
    font-weight: bold;
}

.link-container {
    /* Add styles to make it look like a link */
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid white;
    background-color: #9a031e; /* Blue color */
    color: #fff; /* White text color */
    text-decoration: none; /* Remove default underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth color transition */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .link-container:hover {
        filter: brightness(85%) !important;
        color: cornflowerblue !important;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }

    .link-container a {
        /* Inherit text styles from parent div */
        color: inherit;
        text-decoration: none;
    }

#menu {
    position: fixed;
    top: -2500px;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 20px);
    background: #9a031e;
    transition: left 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
}

    #menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #menu ul li {
            padding: 10px;
            border-bottom: 1px solid #fff; /* Changed border color */
        }

            #menu ul li a {
                color: #fff;
                text-decoration: none;
            }

#close-icon {
    position: fixed;
    top: -250px;
    right: 20px; /* Positioned close icon on the top right */
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.validationSummaryMessage {
    color: #000000;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: auto 0;
    text-align: center;
    text-decoration: underline;
}

.validationSummaryErrors {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    color: #ff0000;
    column-count: 1;
    font-size: 14px;
    font-weight: bold;
}

/* Set a style for the submit button */
.loginRegisterbtn {
    background-color: #04aa6d;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    padding: 9px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .loginRegisterbtn:hover {
        opacity: 1;
    }

/* Add a blue text color to links */
/*a {
    color: dodgerblue;
}
*/
