* {
    box-sizing: border-box;
}

/* Custom CSS for sticky top navbar */
.center {
    border: 0px none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 0px;
}

#myCollapsible .input-group, #myCollapsible .btn {
    width: 100%;
}

.collapsible-content {
    display: none;
}

    .collapsible-content.show {
        display: block;
    }

.validationSummaryMessage {
    color: #000000;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: auto 0;
    text-align: center;
    text-decoration: underline;
}

.validationSummaryErrors {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    color: #ff0000;
    column-count: 1;
    font-size: 14px;
    font-weight: bold;
}

/* Set a style for the submit button */
.loginRegisterbtn {
    background-color: #04aa6d;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    padding: 9px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .loginRegisterbtn:hover {
        opacity: 1;
    }

/* Add a blue text color to links */
/*a {
    color: dodgerblue;
}
*/
