* {
    box-sizing: border-box;
}

.center {
    border: 0px none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}

.fixedDiv {
    padding-left: 9px;
    position: fixed;
    left: auto;
    text-align: left;
    top: 36%;
    width: 9em;
    /*margin-top: -2.5em;*/
}

.validationSummaryMessage {
    color: #000000;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: auto 0;
    text-align: center;
    text-decoration: underline;
}

.validationSummaryErrors {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    color: #ff0000;
    column-count: 1;
    font-size: 14px;
    font-weight: bold;
}

/* Add padding to containers */
/*.container {
    padding: 16px;
    background-color: white;
}*/

/* Full-width input fields */
/*input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }*/

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.loginRegisterbtn {
    background-color: #04aa6d;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    padding: 9px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .loginRegisterbtn:hover {
        opacity: 1;
    }

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
