/*StyleSheet1.css*/
* {
    box-sizing: border-box;
}

/* Custom CSS for sticky top navbar */
.center {
    border: 0px none;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}

.validationSummaryMessage {
    color: #000000;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin: auto 0;
    text-align: center;
    text-decoration: underline;
}

.validationSummaryErrors {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    color: #ff0000;
    column-count: 1;
    font-size: 14px;
    font-weight: bold;
}

.loginRegisterbtn {
    background-color: #04aa6d;
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    padding: 9px 9px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .loginRegisterbtn:hover {
        opacity: 1;
    }

#menu {
    position: fixed;
    top: -2500px;
    left: 0;
    width: 100%;
    height: auto;
    max-height: calc(100vh - 20px);
    background: #9a031e;
    transition: left 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
}

    #menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        #menu ul li {
            padding: 10px;
            border-bottom: 1px solid #fff; /* Changed border color */
        }

            #menu ul li a {
                color: #fff;
                text-decoration: none;
            }

#close-icon {
    position: fixed;
    top: -250px;
    right: 20px; /* Positioned close icon on the top right */
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
