@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
}
<style>
    .modal-content {
        background-image: url('../../ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Image_007.webp');
        background-repeat: no-repeat;
        background-size: cover;
        height: 441px;
    }
</style>
<div id="divHomePopupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="divHomePopupModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button style="float: right; font-size: 27px; font-weight: 900;" type="button" class=" btn btn-warning" data-dismiss="modal">&times;</button>
                <h2 style="text-align: center; color: #ffffff;" class="modal-title" id="divHomePopupModalLabel"><b>GET YOUR CDL LICENSE $2500 SPECIAL</b></h2>
            </div>
            <div class="modal-body">
                <h3 style="text-align: center; color: #ffffff; font-weight: bold;">
                    We are the only one to be open extended hours
                    <br style="clear: both;" />
                    8am-8pm Mon, Tue, Wed, Thu
                    <br style="clear: both;" />
                    24 hours Fri, Sat, Sun
                    <br style="clear: both;" />
                    By Appointment
                    <br style="clear: both;" />
                    <br style="clear: both;" />
                    Ask for Spanish speaking instructor
                    <br style="clear: both;" />
                    ONLY SCHOOL OFFERING AUTOMATIC CLASS A TRAINING AND MANUAL TRANSMISSION
                </h3>
            </div>
            <div style="float: left; padding-left: 9px;">
                <a class="btn btn-warning btn-lg regbtn" href="@Url.Action("RegisterUserLoginUser", "Home")" style="font-weight: 900;">REGISTER NOW</a>
            </div>
            <div style="float: right; padding-right: 9px;">
                <a class="btn btn-warning btn-lg regbtn" href="@Url.Action("EnrollNow", "Home")" style="font-weight: 900;">ENROLL NOW</a>
            </div>
            <div style="padding-left: 9px; padding-right: 9px;">
                <a class="btn btn-warning btn-lg regbtn" href="@Url.Action("ContactUs", "Home")" style="font-weight: 900;">CONTACT US</a>
            </div>
            <br style="clear: both;" />
        </div>
    </div>
</div>

@*
    https://sabe.io/tutorials/how-to-create-modal-popup-box#google_vignette
    https://www.google.com/search?q=custom+modal+javascript&sca_esv=562390864&source=hp&ei=ogT1ZIL7B8XWkPIPrqO88Ak&iflsig=AD69kcEAAAAAZPUSskPMyQ8zEROk0fIB3OYalwTyukRJ&oq=custom+modal+ja&gs_lp=Egdnd3Mtd2l6Ig9jdXN0b20gbW9kYWwgamEqAggAMgUQABiABDIGEAAYFhgeMggQABgWGB4YDzIIEAAYigUYhgNIiUdQ6wZYjyhwAXgAkAEAmAHYAaABpxWqAQYwLjEyLjO4AQHIAQD4AQGoAgrCAhcQABiKBRjqAhi0AhiKAxi3AxjUAxjlAsICBxAuGIoFGEPCAggQABiKBRiRAsICBxAAGIoFGEPCAg4QLhiKBRjHARivARiRAsICERAuGIAEGLEDGIMBGMcBGNEDwgIIEAAYgAQYsQPCAgsQLhiKBRixAxiDAcICChAuGIoFGNQCGEPCAgUQLhiABMICERAuGIAEGLEDGIMBGMcBGK8BwgILEAAYgAQYsQMYgwHCAg0QLhiKBRixAxiDARhDwgIIEC4YgAQYsQPCAggQABiABBjJA8ICCxAuGIAEGMcBGK8BwgILEC4YrwEYxwEYgAQ&sclient=gws-wiz
*@
