@model ArchitectureLibraryModels.ResetPasswordModel
<h3 style="font-weight: bold;"><span style="color: #ff0000; font-size: 15px; font-weight: bold;">(Did you forget your password?)</span><br />R E S E T&nbsp;&nbsp;P A S S W O R D</h3>
@if (!ViewData.ModelState.IsValid)
{
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors" }).ToHtmlString()))
}
else
{    
    <ul style="font-weight: bold;">
        <li>
            Please enter email address, confirm email address
        </li>
        <li>
            Answer captcha question
        </li>
        <li>
            Click <span style="color: #ff0000; font-size: 18px;">R E S E T&nbsp;&nbsp;P A S S W O R D</span> to continue
        </li>
        <li>
            Please check your <span style="color: #ff0000; font-size: 15px;">Inbox</span> for email with further instructions
        </li>
        <li>
            If you do not see the email in your Inbox - please check <span style="color: #ff0000; font-size: 15px;">Spam / Junk folder(s)</span>
        </li>
        <li>
            If so, move the email to Inbox and mark the <span style="color: #ff0000; font-size: 15px;">SENDER SAFE</span>
        </li>
    </ul>
    @*<hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />*@
    <form id="formResetPasswordData">
        @Html.Partial("_ResetPasswordData", Model)
    </form>
    <button class="loginRegisterbtn" id="resetPasswordSave" onclick="javascript: return resetPasswordSave_onclick();" type="button">R E S E T&nbsp;&nbsp;P A S S W O R D</button>
    <script type="text/javascript">
        function resetPasswordSave_onclick() {
            console.log("00000000", "resetPasswordSave_onclick", "Enter");
            $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
            var url = "/Home/ResetPassword";
            var postData = $("#formResetPasswordData").serialize();
            console.log(postData);
            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
                //dataType: "html",
                data: postData,
                //async: false,
                success: function (responseData, textStatus, request) {
                    $("#loadingModal").modal('hide');
                    console.log("00001000", "resetPasswordSave_onclick success", responseData.processMessage);
                    document.getElementById("formResetPasswordData").innerHTML = responseData.htmlString;
                    document.getElementById("divResetPasswordScrollIntoView").scrollIntoView();
                    console.log("00090000", "resetPasswordSave_onclick success", "Exit");
                },
                error: function (xhr, exception) {
                    $("#loadingModal").modal('hide');
                    console.log("00099000", "resetPasswordSave_onclick error", "ERROR???", exception, xhr);
                    document.getElementById("formResetPasswordData").innerHTML = xhr.responseText;
                    console.log("00090100", "resetPasswordSave_onclick error", "Exit");
                    document.getElementById("divResetPasswordScrollIntoView").scrollIntoView();
                }
            });
        }
    </script>
}
