@model ArchitectureLibraryModels.ResetPasswordContactUsModel
@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
}
<div class="center">
    <div class="col-md-6" id="divResetPasswordScrollIntoView" style="float: left; text-align: left;">
        @Html.Partial("_ResetPassword", Model.ResetPasswordModel)
    </div>
    <div class="col-md-6" id="divContactUsScrollIntoView" style="float: right; text-align: left;">
        @Html.Partial("_ContactUsDetail", Model.ContactUsModel)
    </div>
</div>
<br style="clear: both;" />
