@model ArchitectureLibraryModels.ResponseObjectModel
@{
    /**/

    if (Model != null && Model.ResponseMessages != null && Model.ResponseMessages.Count > 0)
    {
        if (Model.ColumnCount == 0)
        {
            Model.ColumnCount = 1;
        }
        string textColor, textAlign, listStyleType;
        textColor = Model.TextColor;
        if (string.IsNullOrWhiteSpace(textColor))
        {
            switch (Model.ResponseTypeId)
            {
                case ArchitectureLibraryEnumerations.ResponseTypeEnum.Info:
                    textColor = "#337ab7";
                    break;
                case ArchitectureLibraryEnumerations.ResponseTypeEnum.Success:
                    //textColor = "#00d000"; //green
                    textColor = "#0000ff"; //blue
                    break;
                case ArchitectureLibraryEnumerations.ResponseTypeEnum.Error:
                    textColor = "#ff0000"; //red
                    break;
                default:
                    textColor = "";
                    break;
            }
        }
        textAlign = Model.TextAlign;
        if (string.IsNullOrWhiteSpace(textAlign))
        {
            textAlign = "left";
        }
        listStyleType = Model.ListStyleType;
        if (string.IsNullOrWhiteSpace(listStyleType))
        {
            listStyleType = "decimal";
        }
        int i;
        <ul style="color: @textColor; column-count: @Model.ColumnCount; display: inline-block; font-weight: bold; list-style-type: @listStyleType;">
            @for (i = 0; i < Model.ResponseMessages.Count; i++)
            {
                <li style="list-style-type: decimal; padding-right: 5px; text-align: @textAlign;">
                    @Model.ResponseMessages[i]
                </li>
            }
        </ul>
    }
}
