span {
    color: #ff9900;
}
/*span {
    color: #ff9900;
}
.carousel {
    width: 100% !important;
    overflow: hidden !important;
    right: 0 !important;
}

.carousel-caption {
    width: 540px;
    left: 10%;
    top: 50% !important;
    transform: translateY(-50%);
    text-align: left;
    bottom: initial;
}

.carousel-inner, .carousel-innercarousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: auto;
    padding: 0px;
    max-height: 540px;
    height: auto;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
}

.carousel-inner img {
    max-height: 540px;
    height: auto;
    width: 100%;
}

.bannerjob {
    color: white;
    height: 125px;
    padding: 20px;
    background-image: url(../Images/Fundo.webp);
}*/
