<table style="padding: 9px; width: 100%;">
    <tr>
        <td style="padding: 9px; text-align: left; width: 100%;">
            <h4>Query Database</h4>
        </td>
    </tr>
    <tr>
        <td style="padding: 9px; text-align: left; width: 100%;">
            <textarea placeholder="Query..." rows="9" style="width: 99%;"></textarea>
        </td>
    </tr>
    <tr>
        <td style="padding: 9px; text-align: left; width: 100%;">
            <button>Run Query</button>
        </td>
    </tr>
</table>
