@using RetailSlnModels
@model OrderListModel
<table>
    <tr>
        <th>
            #
        </th>
        <th>
            Order#
        </th>
        <th>
            Created For Email
        </th>
        <th>
            Created For Name
        </th>
        <th>
            Created Date Time
        </th>
    </tr>
    @foreach (var orderListDataModel in Model.OrderListDataModels)
    {

    }
</table>
