@{
    ViewBag.Title = "Index";
    Layout = "_DashboardLayout.cshtml";
}
<div id="divDashboard">
</div>
<script src="~/Include/orderItemCode0.js" type="text/javascript"></script>
<script src="~/Include/orderItemCode2.js" type="text/javascript"></script>
<script src="~/Include/searchDataCode.js" type="text/javascript"></script>
<script type="text/javascript">
    function window_onload() {
        menuLink_onclick('@Url.Action("OrderItem", "Dashboard")', '');
    }
</script>
