<table style="border-spacing: 0px; padding: 3px; border-collapse: collapse; margin:0px; padding: 5px;">
    <tr>
        <td colspan="9" style="border-collapse:collapse; border-color:#cccccc; border-style:solid; border-width:1px; font-family: Times New Roman; font-size: 20px; font-weight: bold; padding: 5px;">
            Daily, Weekly & Recurring Events
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Daily 9:30am</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Gangadhareshwara (Shiva) Abhishekam</span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Tuesday 7pm</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Gakara Ganapathy Sahasranamam</span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Friday 10am</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Saraswahti Abhishekam</span>
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Friday 10:30am</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Lakshmi Abhishekam</span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Saturday 9am</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Venkateswara Suprabatham</span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Saturday 10am</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Navagraha Abhishekam</span>
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Saturday 11am</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Venkateshwara Abhishekam</span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Saturday 5pm</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Aanjaneya (Hanuman) Abhishekam</span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Every Poornima</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">6:30pm Satyanarayana Puja</span>
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Every Sankasht Chathurthi<br />Chathurthi after Poornima</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Ganapathy Abhishekam<br />6am on Weekdays<br />7:30am on Weekends<br />6:30pm Ganapathy Abhishekam</span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Sashti - Shukla & Krishna</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">6:30pm Subhramanya Abhishekam</span>
        </td>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #0000ff; font-size: 15px; font-weight: bold;">Pradosham - Shukla & Krishna<br />Trayodashi</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">6:30pm Gangadhareshwara (Shiva) Abhishekam</span>
        </td>
    </tr>
    <tr>
        <td style="border-collapse: collapse; border-color: #000000; border-style: solid; border-width: 1px; padding: 5px; vertical-align: top; width: 33%;">
            <span style="color: #ff0000; font-size: 15px; font-weight: bold;">Sunday 10:30am</span><br />
            <span style="color: #a54000; font-size: 15px; font-weight: bold;">Ganapathy Abhishekam</span>
        </td>
    </tr>
</table>
