<div class="modal fade" tabindex="-1" id="loadingModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm" style="top: 250px;">
        <center>
            <div id="divLoader"><img src="~/Images/Loading1.gif" alt="Loader" /></div>
        </center>
    </div>
</div>
