@model SVCCTempleModels.ResponseObjectModel0
@{
    string textcolor, textalign, liststyletype;// = "";
    if (Model != null)
    {
        switch (Model.ResponseTypeId)
        {
            case SVCCTempleEnumerations.ResponseTypeEnum.Info:
                textcolor = "#337ab7";
                break;
            case SVCCTempleEnumerations.ResponseTypeEnum.Success:
                textcolor = "#00d000"; //green
                break;
            case SVCCTempleEnumerations.ResponseTypeEnum.Error:
                textcolor = "#ff0000"; //red
                break;
            default:
                textcolor = "";
                break;
        }
        textalign = Model.TextAlign;
        liststyletype = Model.ListStyleType;
    }
    else
    {
        textcolor = "";
        textalign = "";
        liststyletype = "";
    }
    if (Model != null && Model.ResponseMessages != null)
    {
        <ul class="text-" style="color: @textcolor; display: inline-block; font-weight: bold;" id="listimg">
            @foreach (var responseMessage in Model.ResponseMessages)
            {
                <li style="list-style-type: @liststyletype; text-align: @textalign;">@responseMessage.Value</li>
            }
        </ul>
    }
}
