@model SVCCTempleModels.ValidationSummaryModel
@{
    string textcolor = "#ff0000", textalign = "left", liststyletype = "decimal";// = "";
    <span style="color: #ff0000; font-size: 15px; font-weight: bold; padding: 22px;">@Model.ValidationSummaryMessage</span><br />
    <ul class="text-" style="color: @textcolor; display: inline-block; font-weight: bold;" id="listimg">
        @foreach (var responseMessageError in Model.ResponseMessagesError)
        {
            <li style="list-style-type: @liststyletype; text-align: @textalign;">
                @for (int i = 0; i < responseMessageError.Value.Count; i++)
                {
                    if (i > 0)
                    {
                        <br />
                    }
                    @responseMessageError.Value[i];
                }
            </li>
        }
    </ul>
}
