@using ArchitectureLibraryCacheData
@{
//_Header.cshtml
//DivineBija.in --> 97
//var clientId = ArchLibCache.ClientId;
//var clientName = ArchLibCache.ClientName;
//var imageTitle = ArchLibCache.GetApplicationDefault(clientId, "BusinessName1", "") + " | " + ArchLibCache.GetApplicationDefault(clientId, "BusinessType", "");
}
<div class="center" style="width: 99%;">
    <div style="color: #000000; float: left; font-family: Arial; font-size: 18px; font-weight: bold;">
        Divine Bija Inc.
    </div>
    <div style="float: right;">
        <a href="" style="color: #0000ff; font-size: 14px; font-weight: bold; padding-right: 5px; text-decoration: underline;">
            Home
        </a>
        <a href="@Url.Action("Logout", "Home")" style="color: #0000ff; font-size: 14px; font-weight: bold; padding-right: 5px; text-decoration: underline;">
            Logout
        </a>
    </div>
    <br style="clear: both;" />
</div>
