@using RetailSlnModels
@model ItemCatalogFileModel
<table class="table table-bordered table-condensed table-responsive" style="margin-left: auto; margin-right: auto; width: 81%;">
    <tr>
        <th class="dataStyle1Right">#</th>
        <th class="dataStyle1Center">Item#</th>
        <th></th>
        <th></th>
    </tr>
    @Html.Partial("_ItemCatalogFileData", Model)
</table>
