@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
}
<center>
    <h2 style="color: #a54000; font-weight: bold;">CATALOG / STUDENT PERFORMANCE FACT SHEET</h2>
</center>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="~/ClientSpecific/@(clientId)_@clientName/Documents/Catalog/Catalog_2022.pdf" style="color: #ff0000; font-size: 23px; font-weight: bold; text-decoration: underline;" target="_blank">Catalog 2022</a><br />
            <embed src="~/ClientSpecific/@(clientId)_@clientName/Documents/Catalog/Catalog_2022.pdf" type="application/pdf" style="width: 99%; height: 450px;" />
        </div>
        <div class="col-md-6">
            <a href="~/ClientSpecific/4_SchoolPrd/Documents/Catalog/PerformanceFactSheet_2019_2020.pdf" style="color: #ff0000; font-size: 23px; font-weight: bold; text-decoration: underline;" target="_blank">Student Performance Fact Sheet</a>
            <embed src="~/ClientSpecific/@(clientId)_@clientName/Documents/Catalog/PerformanceFactSheet_2019_2020.pdf" type="application/pdf" style="width: 99%; height: 450px;" />
        </div>
    </div>
</div>
