@model SchoolPrdModels.EnrollmentModel
@using ArchitectureLibraryCacheData
@if (!ViewData.ModelState.IsValid)
{
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors" }).ToHtmlString()))
}
else
{
    <div class="main">
        <div class="container">
            <div class="row">
                <h3 style="color: #a54000; font-weight: bold; text-align: left;">E N R O L L&nbsp;&nbsp;N O W</h3>
            </div>
            <div class="row" id="divEnrollNowScrollIntoView">
                <div class="col-md-5">
                    <p style="font-weight: bold;">Applicants are interviewed and given a tour of the school facility. Some of the procedures and requirements for acceptance are:</p>
                    <ul class="text-info" style="font-weight: bold;">
                        <li>Possess a valid driver's license.</li>
                        <li>Must be 18 years old.</li>
                        <li>Be able to pass a physical exam and drug test.</li>
                        <li>Must read and understand basic English</li>
                    </ul>
                    <p style="font-weight: bold;">Prospective students must also fill out an Enrollment Agreement and a Credit Application (if applicable)</p>
                </div>
                <div class="col-md-5">
                    <ul style="font-weight: bold;">
                        <li style="list-style: none; text-align: left;">
                        </li>
                        <li>
                            Do you want to learn driving? Are you a student?
                        </li>
                        <li>
                            Please fill in the <span style="color: #0000ff;">A P P L I C A T I O N&nbsp;&nbsp;F O R M</span>
                        </li>
                        <li>
                            Click <span style="color: #ff0000; font-size: 18px;">E N R O L L&nbsp;&nbsp;N O W</span> to continue
                        </li>
                        <li>
                            Please check your <span style="color: #ff0000; font-size: 15px;">Inbox</span> for a copy of your enrollment
                        </li>
                    </ul>
                    <hr style="border-color: #000000; border-style: solid; border-width: 1px; padding-top: 0px;" />
                    <p style="font-weight: bold;">@ArchLibCache.GetApplicationDefault(ArchLibCache.ClientId, "BusinessName", "") reserves the right to accept or reject any applicants based upon any or all of the mentioned criteria</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10" style="text-align: center;">
                    <input id="enrollmentSave0" class="btn btn-primary" onclick="javascript: return enrollmentSave_onclick();" style="font-size: 18px; font-weight: bold;" type="button" value="E N R O L L&nbsp;&nbsp;N O W" />
                </div>
            </div>
        </div>
    </div>
    <form id="formEnrollmentData">
        @Html.Partial("_EnrollmentData", Model)
    </form>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-10" style="text-align: center;">
                    <input id="enrollmentSave1" class="btn btn-primary" onclick="javascript: return enrollmentSave_onclick();" style="font-size: 18px; font-weight: bold;" type="button" value="E N R O L L&nbsp;&nbsp;N O W" />
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("divEnrollNowScrollIntoView").scrollIntoView();
        function enrollmentSave_onclick() {
            console.log("00000000", "enrollmentSave_onclick", "Enter");
            $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
            var url = "/Home/Enrollment";
            var postData = $("#formEnrollmentData").serialize();
            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
                //dataType: "html",
                data: postData,
                //async: false,
                success: function (responseData, textStatus, request) {
                    $("#loadingModal").modal('hide');
                    console.log("00001000", "enrollmentSave_onclick success", responseData.processMessage);
                    document.getElementById("formEnrollmentData").innerHTML = responseData.htmlString;
                    console.log("00090000", "enrollmentSave_onclick success", "Exit");
                    document.getElementById("divEnrollNowScrollIntoView").scrollIntoView();
                },
                error: function (xhr, exception) {
                    $("#loadingModal").modal('hide');
                    console.log("00099000", "enrollmentSave_onclick error", "ERROR???", exception, xhr);
                    document.getElementById("formEnrollmentData").innerHTML = xhr.responseText;
                    console.log("00090100", "enrollmentSave_onclick error", "Exit");
                    document.getElementById("divEnrollNowScrollIntoView").scrollIntoView();
                }
            });
        }
    </script>
}
