@model ArchitectureLibraryModels.FAQsModel
<div class="list-group w-100">
    <div class="d-flex w-100 justify-content-between list-group-item">
        <h4 class="mb-1" style="font-weight: 900;">1. How to place an order</h4>
        <p class="mb-1">
            <ul style="font-weight: 600;">
                <li>
                    Start from Home Page
                </li>
                <li>
                    Enter quantity & click Add to Cart under any of the featured items
                </li>
                <li>
                    Additionally, click the cateogry below the featured items
                </li>
                <li>
                    This will list the items in that category
                </li>
                <li>
                    Enter quantity & click Add to Cart under any of the items
                </li>
                <li>
                    Navigate back to the home page
                </li>
                <li>
                    Select another category and items to your shopping cart
                </li>
                <li>
                    On the top you will see the number of items and the dollar amount
                </li>
                <li>
                    Once you are done shopping - click the Checkout button
                </li>
            </ul>
        </p>
    </div>
</div>
