@model ArchitectureLibraryModels.ReturnPolicyModel
@{
    ViewBag.Title = "ReturnPolicy";
}
<h1>Return Policy</h1>
<script type="text/javascript">
    function window_onload() {
    }
</script>
<div style="padding-left: 27px; text-align: left;">
    <ul style="list-style: decimal;">
        <li style="padding-left: 9px;">
            Return Policy 1
        </li>
        <li style="padding-left: 9px;">
            Return Policy 2
        </li>
        <li style="padding-left: 9px;">
            Return Policy 3
        </li>
        <li style="padding-left: 9px;">
            Return Policy 4
        </li>
    </ul>
</div>
