@model ArchitectureLibraryModels.TestimonialsModel
@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    var businessName = @ArchLibCache.GetApplicationDefault(clientId, "BusinessName", "");
}
<div style="margin-left: auto; margin-right: auto; width: 81%;">
    <h2>Testimonials</h2>
    <img class="img-responsive" style="height: auto; max-width: 1035px; width: 100%;" alt="@businessName Testimonial" title="@businessName Testimonial" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Testimonials/GoogleReview_4.webp" />
    <br />
    <hr style="border-color: #000000; border-style: solid; border-width: 1px; color: #000000;" />
    <img class="img-responsive" style="height: auto; max-width: 1035px; width: 100%; " alt="@businessName Testimonial" title="@businessName Testimonial" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Testimonials/GoogleReview_3.webp" />
    <br />
    <hr style="border-color: #000000; border-style: solid; border-width: 1px; color: #000000;" />
    <img class="img-responsive" style="height: auto; max-width: 1035px; width: 100%; " alt="@businessName Testimonial" title="@businessName Testimonial" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Testimonials/GoogleReview_1.webp" />
    <br />
    <hr style="border-color: #000000; border-style: solid; border-width: 1px;" />
    <img class="img-responsive" style="height: auto; max-width: 1035px; width: 100%; " alt="@businessName Testimonial" title="@businessName Testimonial" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Testimonials/GoogleReview_2.webp" />
    <br />
    <hr style="border-color: #000000; border-style: solid; border-width: 1px; color: #000000;" />
</div>
<span style="display: none;">
    Brandon Gomez<br />
    1 week ago<br />
    (Translated by Google) The instructors are very helpful and have tips and tricks that will make everything so easy. (Original) Los instructores son muy serviciales y tienen consejos y trucos que harán que todo sea tan fácil.
</span>
<span style="display: none;">
    Adrian Valencia<br />
    1 week ago<br />
    (Translated by Google) Good school in 2 months I got my license I only went on Saturdays Ron very patient and Jaime also if I recommend it and it is cheaper than other schools around Thank You Paul (Original) Buena escuela en 2 meses saque mi licencia solo iba los sábados Ron muy paciente y Jaime también si la recomiendo y es más económica que otras escuelas de alrededor Thank You Paul
</span>
<span style="display: none;">
    Hardeep Singh<br />
    9 weeks ago<br />
    Hi all Good school, good training, Good People Thanks to my instructors and thanks to A1
</span>
<span style="display: none;">
    Brian Cheung<br />
    8 weeks ago<br />
    The school is excellent and thanks everyone for training me the the best Great school and the reviews are REAL 10/10
</span>
