@model ArchitectureLibraryModels.ContactUsModel
<div class="col-md-12">
    @*<center><h3 style="color: #a54000; font-weight: bold;">C O N T A C T&nbsp;&nbsp;U S</h3></center>*@
    @if (!ViewData.ModelState.IsValid)
    {
        <ul id="divContactUsScrollIntoView" style="font-weight: bold;"></ul><!--This is dummy for scroll into view-->
        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors" }).ToHtmlString()))
    }
    else
    {
        <div class="col-md-12">
            <ul style="column-count: 3; font-size: 13px; font-weight: bold; list-style: decimal; text-align: left;">
                <li style="color: #0000ff;">
                    Please enter First Name, Last Name etc.
                </li>
                <li style="color: #ff0000;">
                    And click submit
                </li>
                <li style="color: #0000ff;">
                    Check your email for a copy of what you entered
                </li>
                <li style="color: #ff0000;">
                    Our staff will get back to you at the earliest
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            @Html.Partial("_ContactUsDetail")
        </div>
        <div class="col-md-6">
            @Html.Partial("_ContactUsInfo")
        </div>
    }
</div>
