@using ArchitectureLibraryModels
@model ContactUsModel
<style>
    .container {
        align-items: stretch; /* Ensures columns stretch to the height of the tallest column */
        display: flex; /* Enables Flexbox for the container */
        flex-wrap: wrap; /* Allows columns to wrap to the next line on smaller screens */
        gap: 9px; /* Adds space between columns */
        width: 81%;
    }

    .column {
        flex: 1; /* Allows columns to grow and shrink proportionally */
        min-width: 153px; /* Minimum width before wrapping to the next line */
        background-color: #ffffff; /* Example background color f0f0f0*/
        padding: 9px; /* Example padding */
        box-sizing: border-box; /* Includes padding and border in the element's total width and height */
        display: flex; /* Enables Flexbox for individual columns */
        flex-direction: column; /* Stacks content within the column vertically */
        /*justify-content: center;*/ /* Vertically centers content within each column */
    }

    /* Media query for smaller screens (e.g., mobile) */
    @@media (max-width: 630px) {
        .container {
            width: 99%;
        }
        .column {
            flex-basis: 100%; /* Columns take full width on smaller screens */
        }
        #contactUsInfoTitle {
            display: none;
        }
    }
</style>
<div class="container">
    <div class="column">
        <form id="formContactUsData">
            @Html.Partial("_ContactUsData", Model)
        </form>
        <button class="loginRegisterbtn" id="contactUsSave" onclick="javascript: return contactUsSave_onclick();" style="letter-spacing: 5px; text-transform: uppercase; width: 90%;" type="button">submit</button>
    </div>
    <div class="column">
        @Html.Partial("_ContactUsInfo")
    </div>
</div>
<script type="text/javascript">
    //document.getElementById("divContactUsScrollIntoView").scrollIntoView();
    function contactUsSave_onclick() {
        console.log("00000000", "contactUsSave_onclick");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/ContactUs";
        var postData = $("#formContactUsData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log("00001000", "contactUsSave_onclick success", responseData.processMessage);
                document.getElementById("formContactUsData").innerHTML = responseData.htmlString;
                //document.getElementById("divContactUsScrollIntoView").scrollIntoView();
                console.log("00090000", "contactUsSave_onclick success", "Exit");
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                console.log("00099000", "contactUsSave_onclick error", "ERROR???", exception, xhr);
                document.getElementById("formContactUsData").innerHTML = xhr.responseText;
                console.log("00090100", "formContactUsData error", "Exit");
                //document.getElementById("divContactUsScrollIntoView").scrollIntoView();
            }
        });
    }
</script>
