@model ArchitectureLibraryModels.ContactUsModel
<h3 id="divContactUsScrollIntoView" style="font-weight: bold; letter-spacing: 9px; text-transform: uppercase;">contact us</h3>
<form id="formContactUsData">
    @Html.Partial("_ContactUsData", Model)
</form>
<div class="col-md-12" style="text-align: center;">
    <button class="loginRegisterbtn" id="contactUsSave" onclick="javascript: return contactUsSave_onclick();" style="letter-spacing: 9px; text-transform: uppercase; width: 50%;" type="button">submit</button>
</div>
<br style="clear: both;" />
<script type="text/javascript">
    document.getElementById("divContactUsScrollIntoView").scrollIntoView();
    function contactUsSave_onclick() {
        console.log("00000000", "contactUsSave_onclick");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/ContactUs";
        var postData = $("#formContactUsData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log("00001000", "contactUsSave_onclick success", responseData.processMessage);
                document.getElementById("formContactUsData").innerHTML = responseData.htmlString;
                document.getElementById("divContactUsScrollIntoView").scrollIntoView();
                console.log("00090000", "registerUserSave_onclick success", "Exit");
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                console.log("00099000", "contactUsSave_onclick error", "ERROR???", exception, xhr);
                document.getElementById("formContactUsData").innerHTML = xhr.responseText;
                console.log("00090100", "formContactUsData error", "Exit");
                document.getElementById("divContactUsScrollIntoView").scrollIntoView();
            }
        });
    }
</script>
