@model RetailSlnModels.DeliveryInfoModel
@{
    Model.ShoppingCartModel.Checkout = false;
    Model.ShoppingCartModel.ShowDiscountsAdditionalCharges = false;
}
<form id="formRazorPayReturn" action="/Home/RazorPayReturn" method="post" asp-antiforgery="true">
    <input type="hidden" id="razorpay_payment_id" name="razorpay_payment_id" />
    <input type="hidden" id="razorpay_order_id" name="razorpay_order_id" />
    <input type="hidden" id="razorpay_signature" name="razorpay_signature" />
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" style="display: none;">Submit</button>
</form>
<div class="container" id="divOrderProcess">
    <h2 class="text-center mb-4" style="color: #a54000; font-weight: bold; letter-spacing: 4px; text-transform: uppercase;">
        Delivery&nbsp;&nbsp;Info
    </h2>
    <div style="float: left; padding-right: 18px; text-align: left; width: 50%;">
        @Html.Partial("_ShoppingCart", Model.ShoppingCartModel)
    </div>
    <div style="float: left; padding-left: 18px; text-align: left; width: 50%; ">
        <form id="formDeliveryInfoData">
            @Html.Partial("_DeliveryInfoData", Model.DeliveryInfoDataModel)
        </form>
        <button class="loginRegisterbtn" id="deliveryInfoSave" onclick="javascript: return deliveryInfoSave_onclick();" style="letter-spacing: 5px; text-transform: uppercase; width: 90%;" type="button">Process</button>
    </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script type="text/javascript">
    var searchResults;
    function deliveryInfoSave_onclick() {
        console.log("00000000", "deliveryInfoSave_onclick");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/DeliveryInfo";
        var postData = $("#formDeliveryInfoData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                console.log(responseData);
                $("#loadingModal").modal('hide');
                if (responseData.success) {
                    document.getElementById("divOrderProcess").innerHTML = responseData.htmlString;
                }
                else {
                    document.getElementById("formDeliveryInfoData").innerHTML = responseData.htmlString;
                }
                document.getElementById("formPaymentData").scrollIntoView();
                console.log("00001000", "deliveryInfoSave_onclick success", responseData.processMessage);
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("formDeliveryInfoData").innerHTML = xhr.responseText;
                console.log("00099000", "deliveryInfoSave_onclick error", exception, xhr);
            }
        });
    }
    function giftCertBalance_onclick() {
        console.log("00000000", "giftCertBalance_onclick", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/GiftCertBalance?";
        var jsonData, jsonDataString;
        //var queryString = "giftCertNumber=" + document.getElementById("GiftCertNumber").value + "&giftCertKey=" + document.getElementById("GiftCertKey").value;
        jsonData = {};
        jsonData.GiftCertNumber = document.getElementById("GiftCertNumber").value;
        jsonData.GiftCertKey = document.getElementById("GiftCertKey").value;
        jsonDataString = JSON.stringify(jsonData);
        $.ajax({
            url: url,//+ queryString,
            type: "POST",
            contentType: "application/json; charset=utf-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            dataType: "json",
            data: jsonDataString,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                if (responseData.success) {
                    document.getElementById("giftCertBalanceAmount").innerHTML = responseData.giftCertBalanceAmount;
                }
                else {
                    document.getElementById("giftCertBalanceAmount").innerHTML = responseData.errorMessage;
                }
                console.log("00090000", "giftCertBalance_onclick", "SUCCESS!!!");
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("giftCertBalanceAmount").innerHTML = xhr.responseText.errorMessage;
                console.log("00099000", "giftCertBalance_onclick", "ERROR???", exception, xhr);
            }
        });
        return false;
    }
    function giftCertBalance_onclick_backup() {
        console.log("00000000", "giftCertBalance_onclick", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/GiftCertBalance?";
        var queryString = "giftCertNumber=" + document.getElementById("GiftCertNumber").value + "&giftCertKey=" + document.getElementById("GiftCertKey").value;
        $.ajax({
            url: url + queryString,
            type: "GET",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            //data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                if (responseData.success) {
                    document.getElementById("giftCertBalanceAmount").innerHTML = responseData.giftCertBalanceAmount;
                }
                else {
                    document.getElementById("giftCertBalanceAmount").innerHTML = responseData.errorMessage;
                }
                console.log("00090000", "giftCertBalance_onclick", "SUCCESS!!!");
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("giftCertBalanceAmount").innerHTML = xhr.responseText.errorMessage;
                console.log("00099000", "giftCertBalance_onclick", "ERROR???", exception, xhr);
            }
        });
        return false;
    }
    function paymentSave_onclick() {
        console.log("00000000", "paymentSave_onclick");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/Payment";
        var postData = $("#formPaymentData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                debugger;
                console.log("00000100", "paymentSave_onclick");
                console.log(9, responseData);
                $("#loadingModal").modal('hide');
                if (responseData.success) {
                    console.log("00000200", "paymentSave_onclick");
                    if (responseData.creditCardProcessor == "RAZORPAYTEST") {
                        console.log("00000300", "paymentSave_onclick");
                        var jsonObject = JSON.parse(responseData.htmlString);
                        console.log(9.9, responseData.htmlString, jsonObject);
                        var options = {
                            "key": jsonObject.RazorpayKey,
                            "amount": jsonObject.Amount,
                            "currency": jsonObject.Currency,
                            "name": jsonObject.Name,
                            "description": jsonObject.Description,
                            "image": "https://avatars.githubusercontent.com/u/65504583?v=4",
                            "order_id": jsonObject.OrderId,
                            "handler": function (response) {
                                console.log(9.18, response);
                                debugger;
                                //document.getElementById(("formRazorPayReturn").action = "/Home/RazorPayReturn";
                                document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                                document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
                                document.getElementById('razorpay_signature').value = response.razorpay_signature;
                                document.getElementById('rzp-paymentresponse').style.display = "block";
                                document.getElementById('rzp-paymentresponse').click();
                            },
                            "prefill": {
                                "name": jsonObject.Name,
                                "email": jsonObject.Email,
                                "contact": jsonObject.PhoneNumber
                            },
                            "notes": {
                                "address": jsonObject.Address
                            },
                            "theme": {
                                "color": "#F37254"
                            }
                        };
                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                    }
                    else {
                        document.getElementById("divOrderProcess").innerHTML = responseData.htmlString;
                        document.getElementById("loggedInUserFullName").innerHTML = responseData.loggedInUserFullName;
                        document.getElementById("loggedInUserEmailAddress").innerHTML = responseData.loggedInUserEmailAddress;
                        document.getElementById("shoppingCartItemsCount").innerHTML = "Empty";
                        document.getElementById("shoppingCartTotalAmount").innerHTML = "Cart";
                        if (document.getElementById("shoppingCartItemsCount2") != null) {
                            document.getElementById("shoppingCartItemsCount2").innerHTML = "Empty";
                            document.getElementById("shoppingCartTotalAmount2").innerHTML = "Cart";
                        }
                    }
                    //document.getElementById("divOrderProcess").scrollIntoView();
                }
                else {
                    document.getElementById("formPaymentData").innerHTML = responseData.htmlString;
                }
                console.log("00001000", "paymentSave_onclick success", responseData.processMessage);
                $("#loadingModal").modal('hide');
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("formPaymentData").innerHTML = xhr.responseText;
                console.log("00099000", "paymentSave_onclick error", exception, xhr);
                $("#loadingModal").modal('hide');
            }
        });
    }
</script>
<script src="~/Include/searchDataCode.js" type="text/javascript"></script>
