@model ArchitectureLibraryModels.FAQsModel
<div style="padding-left: 36px; text-align: left;">
    <div class="list-group w-100">
        <div class="d-flex w-100 justify-content-between list-group-item">
            <h4 class="mb-1" style="font-weight: 900;">1. How to place an order</h4>
            <p class="mb-1">
                <ul style="font-weight: 600;">
                    <li>
                        Start from Home Page
                    </li>
                    <li>
                        Enter quantity & click Add to Cart under any of the featured items
                    </li>
                    <li>
                        Additionally, click the cateogry below the featured items
                    </li>
                    <li>
                        This will list the items in that category
                    </li>
                    <li>
                        Enter quantity & click Add to Cart under any of the items
                    </li>
                    <li>
                        Navigate back to the home page
                    </li>
                    <li>
                        Select another category and items to your shopping cart
                    </li>
                    <li>
                        On the top you will see the number of items and the dollar amount
                    </li>
                    <li>
                        Once you are done shopping - click the Checkout button
                    </li>
                </ul>
            </p>
        </div>
        <div class="d-flex w-100 justify-content-between list-group-item">
            <h4 class="mb-1" style="font-weight: 900;">2. Register</h4>
            <p class="mb-1">
                <ul style="font-weight: 600;">
                    <li>
                        Start from Home Page
                    </li>
                    <li>
                        As a New Customer,Should Register with the following instructions.
                    </li>
                    <li>
                        Enter the Valid Email address
                    </li>
                    <li>
                        Confirm the same Email address below
                    </li>
                    <li>
                        Enter Valid Telephone Number
                    </li>
                    <li>
                        Captcha should match
                    </li>
                    <li>
                        Click On Register Button.
                    </li>
                    <li>
                        Check your Email Inbox and Spam for the Verification Email
                    </li>
                    <li>
                        Complete the Registration Process as shown in the Email.
                    </li>
                </ul>
            </p>
        </div>
        <div class="d-flex w-100 justify-content-between list-group-item">
            <h4 class="mb-1" style="font-weight: 900;">3.Update Password</h4>
            <p class="mb-1">
                <ul style="font-weight: 600;">
                    <li>
                        Click on Register
                    </li>
                    <li>
                        Choose "CLICK HERE TO RESET YOUR PASSWORD" option.
                    </li>
                    <li>
                        Navigate to RESET Password.
                    </li>
                    <li>
                        Follow the instructions and Click on RESET PASSWORD Button.
                    </li>
                    <li>
                        Check your Email Inbox or Spam for Reset Password
                    </li>
                    <li>
                        Follow the Instructions from email and Update Password
                    </li>
                    <li>
                        The New Password Setup Completed and you are ready for Login
                    </li>
                </ul>
            </p>
        </div>
        @*<div class="d-flex w-100 justify-content-between list-group-item">
            <h4 class="mb-1" style="font-weight: 900;">4. Gift Certificate</h4>
            <p class="mb-1">
                <ul style="font-weight: 600;">
                    <li>
                        Start from Home Page
                    </li>
                    <li>
                        Click On Gift Certificate.
                    </li>
                    <li>
                        Follow the Instrcutions shown.
                    </li>
                    <li>
                        Give the Valid Recipient and Sender Details
                    </li>
                    <li>
                        Enter Credit card Details And choose the Gift Certificate
                    </li>
                    <li>
                        Captcha should match
                    </li>
                    <li>
                        Click On Save Button.
                    </li>
                    <li>
                        Check your Email Inbox and Spam for the Verification Email
                    </li>
                </ul>
            </p>
        </div>*@
    </div>
</div>
