@model RetailSlnModels.OrderCategoryItemModel
<div id="divOrderItem" class="center" style="padding: 0px; vertical-align: bottom; width: 100%;">
</div>
@Html.Partial("_Carousel")
<script type="text/javascript">
    categoryId_onclick(9, 1);
</script>
