@model RetailSlnModels.ItemAttributesModel
@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
}
<table class="table table-condensed table-responsive" style="padding: 0px;">
    <tr>
        <td style="padding: 0px; width: 65%;">
            <table class="table table-bordered" style="width: 81%;">
                <colgroup>
                    <col style="width: 27%;" />
                    <col style="width: 45%;" />
                </colgroup>
                <tr>
                    <th style="background: #e5e4e2;">
                        Description
                    </th>
                    <th style="background: #e5e4e2;">
                        Value
                    </th>
                </tr>
                @foreach (var itemAttribModel in Model.ItemModel.ItemAttribModels)
                {
                    <tr>
                        <td>
                            @itemAttribModel.ItemAttribMasterModel.AttribDesc
                        </td>
                        <td>
                            @itemAttribModel.ItemAttribValue
                        </td>
                    </tr>
                }
            </table>
        </td>
        <td style="padding: 0px; width: 35%;">
            <table class="table table-condensed table-responsive">
                <tr>
                    <th class="text-left">
                        <span style="color: #ff0000; font-weight: bold;">Description</span><br />
                        @(Model.ItemModel.ItemShortDesc0 + " " + Model.ItemModel.ItemShortDesc1 + " " + Model.ItemModel.ItemShortDesc2)
                    </th>
                </tr>
                <tr>
                    <th class="text-left">
                        <span style="color: #ff0000; font-weight: bold;">Price...</span>&nbsp;@Model.ItemModel.ItemRateFormatted
                    </th>
                </tr>
                <tr>
                    <th class="text-left">
                        <img class="img-responsive" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/Items/@Model.ItemModel.ImageName" />
                    </th>
                </tr>
            </table>
        </td>
    </tr>
</table>
