@model ArchitectureLibraryModels.CheckoutGuestModel
<h3 style="font-size: 24px; font-weight: bold;"><span style="color: #000000; letter-spacing: 9px; text-transform: uppercase;">guest checkout</span></h3>
@if (!ViewData.ModelState.IsValid)
{
    <div id="divLoginUserProfScrollIntoView" style="font-weight: bold;"></div>
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(false, "", new { @class = "validationSummaryErrors" }).ToHtmlString()))
}
else
{
    <ul style="font-size: 14px; font-weight: bold;">
        <li>
            Please enter email address, confirm email, captcha answer
        </li>
        <li>
            Click <span style="color: #0000ff; font-size: 18px; text-transform: uppercase;">checkout guest</span> to continue
        </li>
        <li style="color: #ff0000;">
            FYI... Regular login has other interesting features
        </li>
    </ul>
    <form id="formLoginUserProfGuestData">
        @Html.Partial("_LoginUserProfGuestData", Model)
    </form>
    <button class="loginRegisterbtn" id="checkoutGuestUser" onclick="javascript: return checkoutGuestUser_onclick();" style="letter-spacing: 9px; text-transform: uppercase; width: 93%;" type="button">checkout guest</button>
}
