@model RetailSlnModels.OrderReceiptModel
<div class="container">
    <h2 class="text-center mb-4" style="color: #a54000; font-weight: bold; letter-spacing: 4px; text-transform: uppercase;">
        Order&nbsp;&nbsp;Receipt
    </h2>
    <h4>
        <span style="color: #0000ff; font-weight: bold;">Your order has been processed successfully</span>
        <br />
        Check your email for a copy of the receipt
    </h4>
    <div class="col-md-6">
        @Html.Partial("_ShoppingCartData", Model.ShoppingCartModel)
    </div>
    <div class="col-md-6">
        @Html.Partial("_OrderReceiptData", Model.PaymentDataModel)
        <br />
        @Html.Partial("_DeliveryInfoReceiptData", Model.DeliveryInfoDataModel)
    </div>
</div>
