@using ArchitectureLibraryModels
@using RetailSlnModels
@model OrderCategoryItemModel
@{
    SessionObjectModel sessionObjectModel = (SessionObjectModel)Session["SessionObject"];
    string aspNetRoleName, createForEmailAddress, createForLocation;
    if (sessionObjectModel == null)
    {
        aspNetRoleName = "DEFAULTROLE";
    }
    else
    {
        aspNetRoleName = sessionObjectModel.AspNetRoleName;
    }
    SessionObjectModel createForSessionObject = (SessionObjectModel)Session["CreateForSessionObject"];
    if (createForSessionObject == null)
    {
        createForEmailAddress = "";
        createForLocation = "";
    }
    else
    {
        createForEmailAddress = createForSessionObject.EmailAddress;
        var applSessionObjectModel = (ApplSessionObjectModel)createForSessionObject.ApplSessionObjectModel;
        var corpAcctLocationModel = applSessionObjectModel.CorpAcctModel.CorpAcctLocationModels.First(x => x.CorpAcctLocationId == applSessionObjectModel.CorpAcctLocationId);
        createForLocation = corpAcctLocationModel.LocationName;
    }
}
<table class="table-responsive" style="margin-left: auto; margin-right: auto; padding: 9px;">
    <tr>
        <td class="text-center" style="padding: 9px; vertical-align: top;">
            <button class="btn btn-primary" id="btnCorpAcct" onclick="javascript: return btnCorpAcct_onclick();">Corp Acct</button>
            <br />
            <button class="btn btn-primary" id="btnUserAddEdit" onclick="javascript: return btnUserAddEdit_onclick();">User Add/Edit</button>
        </td>
        <td class="text-center" style="padding: 9px; vertical-align: top;">
            <button class="btn btn-primary" id="btnSearchForUserResult" onclick="javascript: return btnSearchForUserResult_onclick();">Search User Result</button>
            <br />
            <button class="btn btn-primary" id="btnSearchForItemResult" onclick="javascript: return btnSearchForItemResult_onclick();">Search Product Result</button>
        </td>
        <td class="text-left" style="padding: 9px; vertical-align: top;">
            <span id="createdForPersonSelected" style="color: #000000; font-family: Arial; font-size: 12px; font-weight: bold;">@createForEmailAddress</span>
        </td>
        <td class="text-left" style="padding: 9px; vertical-align: top;">
            <span id="createdForLocationSelected" style="color: #000000; font-family: Arial; font-size: 12px; font-weight: bold;">@createForLocation</span>
        </td>
    </tr>
</table>
<table class="table-responsive" style="margin-left: auto; margin-right: auto; padding: 9px; width: 63%;">
    <tr>
        <td class="text-left" style="padding: 9px; width: 36%;">
            <input class="form-control validate" id="searchForUser" maxlength="50" placeholder="Search for user" />
        </td>
        <td class="text-left" style="padding: 9px; width: 9%;">
            <button class="btn btn-primary" id="btnSearchForUser" onclick="javascript: return btnSearchForUser_onclick();">Search User</button>
        </td>
        <td class="text-left" style="padding: 9px; width: 36%;">
            <input class="form-control validate" id="searchForItem" maxlength="50" placeholder="Search for item" />
        </td>
        <td class="text-left" style="padding: 9px; width: 9%;">
            <button class="btn btn-primary" id="btnSearchForItem" onclick="javascript: return btnSearchForItem_onclick();">Search Product</button>
        </td>
    </tr>
</table>
<div id="divSearchForUserResult" style="display: none; margin-left: auto; margin-right: auto; width: 63%;">
    <h3>Search User Result(s)</h3>
    <div class="center" style="display: table;">
        <div style="display: table-row;">
            <div style="display: table-cell; vertical-align: top;">
                <button class="btn btn-primary" onclick="javascript: return createdFor_onclick();">Select</button>
            </div>
        </div>
    </div>
    <div id="divSearchForUserResultData" style="height: 171px; overflow: auto;"></div>
</div>
<div id="divSearchForItemResult" style="display: none; margin-left: auto; margin-right: auto; width: 63%;">
    <h3>Search Item Result(s)</h3>
    <div id="divSearchForItemResultData" style="height: 189px; overflow: auto;"></div>
</div>
<div id="divUserAddEdit" style="display: none;">
    <h3 style="color: #0000ff; font-weight: bold;">User Add/Edit</h3>
    <form id="formUserAddEdit">
        @Html.Partial("_UserAddEdit", Model.UserAddEditModel)
    </form>
    <table class="table-responsive" style="margin-left: auto; margin-right: auto; padding: 9px; width: 63%;">
        <tr>
            <td class="text-center" style="padding: 0px;">
                <button class="btn btn-primary" id="btnUserAddEditSave" onclick="javascript: return btnUserAddEditSave_onclick();">Submit</button>
            </td>
        </tr>
    </table>
</div>
@Html.Partial("_OrderItem1", Model)
<script type="text/javascript">
    function btnUserAddEdit_onclick() {
        if (document.getElementById("divUserAddEdit").style.display == "none") {
            document.getElementById("divUserAddEdit").style.display = "block";
        }
        else {
            document.getElementById("divUserAddEdit").style.display = "none";
        }
    }
    function btnCorpAcct_onclick() {
        window.open("/Dashboard", "_blank")
    }
    function btnSearchForUserResult_onclick() {
        if (document.getElementById("divSearchForUserResult").style.display == "none") {
            document.getElementById("divSearchForUserResult").style.display = "block";
        }
        else {
            document.getElementById("divSearchForUserResult").style.display = "none";
        }
    }
    function btnSearchForItemResult_onclick() {
        if (document.getElementById("divSearchForItemResult").style.display == "none") {
            document.getElementById("divSearchForItemResult").style.display = "block";
        }
        else {
            document.getElementById("divSearchForItemResult").style.display = "none";
        }
    }
    function btnUserAddEditSave_onclick() {
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        const formPostData = new FormData(formUserAddEdit);
        //console.log(formPostData);
        // Send the POST request
        fetch('/Home/UserAddEdit', {
            method: "POST",
            body: formPostData,
        })
            .then((response) => response.json())
            .then((responseData) => {
                $("#loadingModal").modal('hide');
                console.log(1, responseData);
                document.getElementById("formUserAddEdit").innerHTML = responseData.htmlString;
                var returnValue;
                if (responseData.success) {
                    alert("User created successfully!!!");
                    btnUserAddEdit_onclick();
                    returnValue = true;
                }
                else {
                    returnValue = false;
                    alert("Please fix errors to continue???");
                }
                return returnValue;
            })
            .catch(error => {
                $("#loadingModal").modal('hide');
                returnValue = false;
                alert("Error while creating user???");
                console.log(error);
                return false;
            });
    }
    function btnSearchForUser_onclick() {
        console.log("btnSearchForUser_onclick", "00000000", "ENTER!!!");
        var searchForUserValue = document.getElementById("searchForUser").value;
        searchForUserValue = searchForUserValue.trim();
        if (searchForUserValue === "" || searchForUserValue.length == 0) {
            alert("Please enter search value");
            return false;
        }
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        if (searchForUserValue != "") {
            var url = "/Home/SearchForUser/" + searchForUserValue;
            $.ajax({
                url: url,
                type: "GET",
                //contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
                dataType: "json",
                //data: { "itemId": itemId, "orderQty": orderQty },
                async: true,
                success: function (responseData, textStatus, request) {
                    $('#loadingModal').modal('hide');
                    console.log("btnSearchForUser_onclick", "00001000", responseData.success, responseData.processMessage);
                    if (responseData.success) {
                        document.getElementById("divSearchForUserResultData").innerHTML = responseData.htmlString;
                        document.getElementById("divSearchForUserResult").style.display = "block";
                    }
                    else if (responseData.errorCode === "RELOAD_PAGE") {
                        alert(responseData.message); // Optional: Show an alert message.
                        location.reload(); // Reload the page.
                        window.location.href = "/Home/Error";
                    }
                    else {
                        document.getElementById("divErrorMessage").innerHTML = "Error occurred";
                    }
                    console.log("btnSearchForUser_onclick", "00090000", "EXIT!!!");
                },
                error: function (xhr, exception) {
                    $('#loadingModal').modal('hide');
                    console.log("btnSearchForUser_onclick", "00099000", "ERROR???");
                    var jsonData = JSON.parse(xhr.responseText);
                    console.log("btnSearchForUser_onclick", "00099100", exception, xhr, jsonData);
                    document.getElementById("divErrorMessage").innerHTML = "Error occurred";
                }
            });
        }
        else {
            $('#loadingModal').modal('hide');
            alert("Please enter search value");
        }
        console.log("btnSearchForUser_onclick", "00090000", "EXIT!!!");
        return false;
    }
    function btnSearchForItem_onclick() {
        console.log("btnSearchForItem_onclick", "00000000", "ENTER!!!");
        var searchForItemValue = document.getElementById("searchForItem").value;
        searchForItemValue = searchForItemValue.trim();
        if (searchForItemValue === "" || searchForItemValue.trim().length == 0) {
            alert("Please enter search value");
            return false;
        }
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/SearchForItem/" + document.getElementById("selectedCategoryId").value + "?searchText=" + searchForItemValue;
        $.ajax({
            url: url,
            type: "GET",
            //contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            dataType: "json",
            //data: { "itemId": itemId, "orderQty": orderQty },
            async: true,
            success: function (responseData, textStatus, request) {
                $('#loadingModal').modal('hide');
                console.log("btnSearchForItem_onclick", "00001000", responseData.success, responseData.processMessage);
                if (responseData.success) {
                    document.getElementById("divSearchForItemResultData").innerHTML = responseData.htmlString;
                    document.getElementById("divSearchForItemResult").style.display = "block";
                }
                else if (responseData.errorCode === "RELOAD_PAGE") {
                    alert(responseData.message); // Optional: Show an alert message.
                    location.reload(); // Reload the page.
                    window.location.href = "/Home/Error";
                }
                else {
                    document.getElementById("divErrorMessage").innerHTML = "Error occurred";
                }
                console.log("btnSearchForItem_onclick", "00090000", "EXIT!!!");
            },
            error: function (xhr, exception) {
                $('#loadingModal').modal('hide');
                console.log("btnSearchForItem_onclick", "00099000", "ERROR???");
                var jsonData = JSON.parse(xhr.responseText);
                console.log("btnSearchForItem_onclick", "00099100", exception, xhr, jsonData);
                document.getElementById("divErrorMessage").innerHTML = "Error occurred";
            }
        });
        console.log("searchItem_onclick", "00090000", "EXIT!!!");
        return false;
    }
    function createdFor_onclick() {
        var i, locationIndex = -1, personIndex = -1;
        for (i = 0; ; i++) {
            try {
                if (document.getElementById("createdForLocationSelect" + i).checked) {
                    locationIndex = i;
                    break;
                }
            }
            catch(err) {
                break;
            }
        }
        for (i = 0; ; i++) {
            try {
                if (document.getElementById("createdForPersonSelect" + i).checked) {
                    personIndex = i;
                    break;
                }
            }
            catch (err) {
                break;
            }
        }
        if (locationIndex == -1 || personIndex == -1) {
            alert("Select both location and person");
            return false;
        }
        //alert(locationIndex);
        //alert(personIndex);
        document.getElementById("createdForPersonSelected").innerHTML = document.getElementById("createdForPerson" + personIndex).innerHTML;
        document.getElementById("createdForLocationSelected").innerHTML = document.getElementById("createdForCorpAcctLocation" + locationIndex).innerHTML;
        var personId, corpAcctLocationId;
        personId = document.getElementById("createdForPersonId" + personIndex).value;
        corpAcctLocationId = document.getElementById("createdForCorpAcctLocationId" + locationIndex).value;
        //alert(corpAcctLocationId);
        //alert(personId);
        var url = "/Home/OrderCreatedFor" + "?id=" + personId + "&locnId=" + corpAcctLocationId;
        fetch(url, {
            method: "GET",
        })
            .then((response) => response.json())
            .then((responseData) => {
                $("#loadingModal").modal('hide');
                console.log(1, responseData);
                //document.getElementById("formUserAddEdit").innerHTML = responseData.htmlString;
                var returnValue;
                if (responseData.success) {
                    $("#loadingModal").modal('hide');
                    document.getElementById("shoppingCartItemsCount").innerHTML = responseData.shoppingCartItemsCount;
                    document.getElementById("shoppingCartTotalAmount").innerHTML = responseData.shoppingCartTotalAmount;
                    document.getElementById("shoppingCartItemsCount1").innerHTML = responseData.shoppingCartItemsCount;
                    document.getElementById("shoppingCartTotalAmount1").innerHTML = responseData.shoppingCartTotalAmount;
                    btnSearchForUserResult_onclick();
                    returnValue = true;
                }
                else {
                    $("#loadingModal").modal('hide');
                    returnValue = false;
                    alert("Create for user error???");
                }
                return returnValue;
            })
            .catch(error => {
                $("#loadingModal").modal('hide');
                returnValue = false;
                alert("Create for user error???");
                console.log(error);
                return false;
            });
        return false;
    }
</script>
