@model RetailSlnModels.PaymentInfo1Model
<div class="container center">
    <h2 style="color: #a54000; font-weight: bold; letter-spacing: 4px; text-transform: uppercase;">
        Order&nbsp;&nbsp;Receipt
    </h2>
    <h4>
        <span style="color: #0000ff; font-weight: bold;">Your order has been processed successfully</span>
        <br />
        Check your email for a copy of the receipt
    </h4>
    <a href="@Url.Action("DownloadFile", "Home", new { fileName = Model.OrderSummaryModel.OrderHeaderId + ".pdf" })" style="color: #cd5c5c; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;">Download Invoice...#@Model.OrderSummaryModel.OrderHeaderId</a>
    <br />
    @Html.Partial("_OrderInvoiceData", Model)
</div>
