<form id="formPaymentInfo3" action="/Home/PaymentInfo3" method="post" asp-antiforgery="true">
    <input type="hidden" id="razorpay_payment_id" name="razorpay_payment_id" />
    <input type="hidden" id="razorpay_order_id" name="razorpay_order_id" />
    <input type="hidden" id="razorpay_signature" name="razorpay_signature" />
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" style="display: none;"></button>
</form>
