@using ArchitectureLibraryModels
@model RegisterUserProfModel
<div id="divOTP">
    @Html.Partial("_OTPRequest", Model.OTPRequestModel)
</div>
<script type="text/javascript">
    function OTPSendTypeIdClear_clear() {
        var radio;
        document.getElementById("OTPSendTypeIdClear").checked = false;
        for (var i = 0; ; i++) {
            radio = document.getElementById("OTPSendTypeId" + i);
            if (radio == null) {
                break;
            }
            else {
                radio.checked = false;
            }
        }
    }

    function oTPRequestSave_onclick() {
        console.log("00000000", "oTPRequestSave_onclick", "Enter");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/RegisterUserProfOTPRequest";
        var postData = $("#formOTPData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log("00001000", "oTPRequestSave_onclick success", responseData);
                if (responseData.success) {
                    document.getElementById("divOTP").innerHTML = responseData.htmlString;
                }
                else {
                    document.getElementById("formOTPData").innerHTML = responseData.htmlString;
                }
                console.log("00090000", "oTPRequestSave_onclick success", "Exit");
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                console.log("00099000", "oTPRequestSave_onclick error", "ERROR???", exception, xhr);
                document.getElementById("formOTPData").innerHTML = xhr.responseText;
                console.log("00090100", "oTPRequestSave_onclick error", "Exit");
            }
        });
    }

    function oTPResponseSave_onclick() {
        console.log("00000000", "oTPResponseSave_onclick", "Enter");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Home/RegisterUserProfOTPResponse";
        var postData = $("#formOTPData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log("00001000", "oTPResponseSave_onclick success", responseData);
                if (responseData.success) {
                    window.location = responseData.htmlString;
                }
                else {
                    document.getElementById("formOTPData").innerHTML = responseData.htmlString;
                }
                console.log("00090000", "oTPResponseSave_onclick success", "Exit");
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                console.log("00099000", "oTPResponseSave_onclick error", "ERROR???", exception, xhr);
                document.getElementById("formOTPData").innerHTML = xhr.responseText;
                console.log("00090100", "oTPResponseSave_onclick error", "Exit");
            }
        });
    }

    function oTPGetNew_onclick() {
        window.location.reload();
    }

    const timerInterval = setInterval(function () {
        if (document.getElementById("oTPExpires") != null) {
            var oTPTimeRemaining = document.getElementById("oTPExpires").innerHTML;
            oTPTimeRemaining--;
            if (oTPTimeRemaining <= 0) {
                clearInterval(timerInterval);
                document.getElementById("oTPExpires").innerHTML = "EXPIRED";
                return;
            }
            //Display the result
            document.getElementById("oTPExpires").innerHTML = oTPTimeRemaining;
        }
    }, 1000);
</script>
