@model ArchitectureLibraryModels.ResetPasswordContactUsModel
@using ArchitectureLibraryCacheData
@using RetailSlnModels
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    ShoppingCartModel shoppingCartModel = (ShoppingCartModel)Session["ShoppingCartModel"];
    if (shoppingCartModel == null)
    {
        shoppingCartModel = new ShoppingCartModel();
    }
}
<div class="center">
    <div class="col-md-6" id="divResetPasswordScrollIntoView" style="float: left; text-align: left;">
        @Html.Partial("_ResetPassword", Model.ResetPasswordModel)
    </div>
    <div class="col-md-6" id="divContactUsScrollIntoView" style="float: right; text-align: left;">
        @Html.Partial("_ContactUsDetail1", Model.ContactUsModel)
    </div>
    <div class="col-md-12" id="divShoppingCart">
        <hr style="background-color: #000000; display: block; font-size: 18px; font-weight: bold; height: 1px;" />
        @Html.Partial("_ShoppingCart", shoppingCartModel)
    </div>
</div>
<br style="clear: both;" />
<script src="~/Include/orderItemCode2.js" type="text/javascript"></script>
