@using RetailSlnModels
@model SearchForEmailAddressModel
<option value="">--- Select ---</option>
@{
    string optionText;
    foreach (var searchForEmailAddressDataModel in Model.SearchForEmailAddressDataModels)
    {
        optionText = searchForEmailAddressDataModel.CorpAcctName + " - " + searchForEmailAddressDataModel.FirstName + " " + searchForEmailAddressDataModel.LastName + " - " + searchForEmailAddressDataModel.EmailAddress;
        <option value="@searchForEmailAddressDataModel.PersonId">@optionText</option>
    }
}
