@using RetailSlnModels
@model SearchResultModel
<div id="divSearchResultItemMaster" style="margin: 0px;"></div>
<script type="text/javascript">
    document.getElementById("searchTerm").value = "@Model.SearchKeywordText";
    searchResult_onclick(1);
    function searchResult_onclick(pageNum) {
        console.log("searchResult_onclick", "00000000", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "@Url.Action("SearchResultItemMaster", "Home")";
        var searchText = document.getElementById("searchTerm").value;
        var jsonPostData =
        {
            "searchText": searchText,
            "pageNum": pageNum,
        };
        $.ajax({
            url: url,
            type: "POST",
            //async: false,
            //contentType: "application/json; charset=utf-8",
            dataType: "text",
            data: jsonPostData,
            success: function (responseData, textStatus, request) {
                $('#loadingModal').modal('hide');
                document.getElementById("divSearchResultItemMaster").innerHTML = responseData;
                console.log("searchResult_onclick", "00001000", "SUCCESS!!!", textStatus);
            },
            error: function (xhr, exception) {
                $('#loadingModal').modal('hide');
                console.log("searchResult_onclick", "00099000", "ERROR???");
                console.log(xhr, exception);
            }
        });
    }
</script>
