<div style="font-family: Arial, Helvetica, sans-serif, Verdana;">
    <br style="clear: both;" />
    @{
        try
        {
            <p style="color: #000000; font-family: Arial; font-weight: bold; padding-left: 72px; padding-right: 297px; text-align: justify;">@HttpContext.Current.Session["RequestUrl"].ToString()</p>
        }
        catch
        {
        }
    }
    @*<h1 style="padding-left: 72px; padding-right: 72px; text-align: justify;">TUITION</h1>*@
    <p style="padding-left: 72px; padding-right: 297px; text-align: justify;">There are many ways you can finance your enrollment:</p>
    <p style="padding-left: 72px; padding-right: 297px; text-align: justify;"><strong>Employer-Paid Plans:</strong> Some employers will pay for school for you. Working for the employer for a short period is usually required (six months to a year).</p>
    <p style="padding-left: 72px; padding-right: 297px; text-align: justify;"><strong>Employer Tuition Reimbursement Plans:</strong> Most good trucking companies have a generous tuition reimbursement program that pays all the costs of your school. This is a great way to go. Your training can be free after all reimbursement is provided!</p>
    <p style="padding-left: 72px; padding-right: 297px; text-align: justify;"><strong>Cash/Check/Money Order/Credit Card:</strong> Often the best way to get things moving quickly is to pay for your training yourself. Although there are numerous sources of funds and loans, you may not qualify for them and they often take a bit of time to process. A 1 Truck Driving School, Inc. does not offer Federal financial aid at this time.</p>
    <p style="padding-left: 72px; padding-right: 297px; text-align: justify;">Call us to see how easy and affordable it is to put yourself on the road to an exciting new career!</p>
    <p style="padding-left: 72px;">
        <img class="img-responsive" src="~/Images/Tuition.webp" style="height: auto; max-width: 817px; width: 100%;" />
    </p>
</div>
