<div id="divShoppingCartPopupModal" aria-labelledby="divShoppingCartPopupModalLabel" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="height: 72px;">
                <button class="btn btn-warning" data-dismiss="modal" style="float: right; font-size: 27px; font-weight: 900;" type="button">&times;</button>
                <h2 class="modal-title" id="divShoppingCartPopupModalLabel" style="color: #000000; font-size: 36px; font-weight: bold; letter-spacing: 4px; text-align: center;">
                    SHOPPING CART
                </h2>
            </div>
            <div class="modal-body" id="divShoppingCartData">
            </div>
            <div class="modal-footer">
                <button type="button" id="modalClose" class="btn btn-primary" data-dismiss="modal" style="background-color: navy; font-style: inherit; font-weight: bold;">Close</button>
            </div>
        </div>
    </div>
</div>
