@using RetailSlnModels
@model PaymentInfoModel
@{
    var shoppingCartAvailable = Model != null && Model.ShoppingCartModel.ShoppingCartSummaryModel != null && Model.ShoppingCartModel.ShoppingCartSummaryModel.TotalOrderAmount > 0 && Model.ShoppingCartModel.ShoppingCartItemModels != null && Model.ShoppingCartModel.ShoppingCartItemModels.Count > 0;
}
<div class="col-md-12" style="overflow-x: auto;">
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; margin-left: auto; margin-right: auto; width: 90%;">
        <div>
            <a href="javascript: void(0);" id="hrfBackToTop" onclick="javascript: return document.getElementById('divScrollIntoView').scrollIntoView();" style="font-size: 24px; font-weight: bold; text-decoration: underline;" tabindex="-1">
                Back to top
            </a>
        </div>
        <div style="color: #000000; font-size: 24px; font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">
            Shopping&nbsp;&nbsp;Cart
        </div>
        @if (shoppingCartAvailable)
        {
            <div>
                <a href="@Url.Action("Checkout", "Home")" id="hrfBackToTop" style="font-size: 24px; font-weight: bold; text-decoration: underline;" tabindex="-1">
                    Checkout
                </a>
            </div>
        }
    </div>
    @if (!shoppingCartAvailable)
    {
        <h3 style="color: #ff9900; font-size: 27px; font-weight: bold;">
            Your&nbsp;shopping&nbsp;cart&nbsp;is&nbsp;empty
        </h3>
    }
    else
    {
        <style>
            @*
            @@font-face {
                font-family: 'Freestyle Script Regular';
                font-style: normal;
                font-weight: normal;
                src: local('Freestyle Script Regular'), url('../fonts/FREESCPT.woff') format('woff');
            }

            @@font-face {
                font-family: 'Mistral';
                font-style: normal;
                font-weight: normal;
                src: local('Mistral'), url('../fonts/MISTRAL.woff') format('woff');
            }
            *@
            table {
                border-collapse: collapse;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
            }

            td {
                border-color: #000000;
                border-style: solid;
                border-width: 1px;
                font-family: Arial;
                font-size: 13px;
                padding: 2px;
                text-align: left;
            }

            th {
                border-color: #000000;
                border-style: solid;
                border-width: 1px;
                font-family: Arial;
                font-size: 13px;
                font-weight: bold;
                padding: 2px;
                text-align: left;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
        </style>
        <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; margin-left: auto; margin-right: auto; width: 90%;">
            @Html.Partial("_ShoppingCartData1", Model)
        </div>
        <br style="clear: both;" />
        <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; margin-left: auto; margin-right: auto; width: 90%;">
            @Html.Partial("_ShoppingCartSummary1", Model)
        </div>
    }
<div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; margin-left: auto; margin-right: auto; width: 90%;">
    @if (shoppingCartAvailable)
    {
        <div>
            <a href="javascript: void(0);" id="hrfBackToTop2" onclick="javascript: return document.getElementById('divScrollIntoView').scrollIntoView();" style="font-size: 24px; font-weight: bold; text-decoration: underline;" tabindex="-1">
                Back to top
            </a>
        </div>
        <div>
            <a href="@Url.Action("Checkout", "Home")" id="hrfBackToTop" style="font-size: 24px; font-weight: bold; text-decoration: underline;" tabindex="-1">
                Checkout
            </a>
        </div>
    }
</div>
</div>
