@using RetailSlnCacheData
@using RetailSlnModels
@{
    var paymentInfoModel = (PaymentInfoModel)Session["PaymentInfo"];
    paymentInfoModel = paymentInfoModel ?? new PaymentInfoModel();
    paymentInfoModel.ShoppingCartModel = paymentInfoModel.ShoppingCartModel ?? new ShoppingCartModel { ShoppingCartItemModels = new List<ShoppingCartItemModel>() };
    paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel = paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel ?? new ShoppingCartSummaryModel { TotalItemsCount = 0, TotalOrderAmount = 0, TotalOrderAmountFormatted = 0f.ToString(RetailSlnCache.CurrencyDecimalPlaces, RetailSlnCache.CurrencyCultureInfo).Replace(" ", ""), };
    Session["PaymentInfo"] = paymentInfoModel;
}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="divShoppingCart">
    @Html.Partial("_ShoppingCart", paymentInfoModel.ShoppingCartModel)
</div>
<script type="text/javascript">
    shoppingCartSummary("@paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel.TotalItemsCount", "@paymentInfoModel.ShoppingCartModel.ShoppingCartSummaryModel.TotalOrderAmountFormatted");
    document.getElementById("divScrollIntoView").scrollIntoView({ behavior: 'smooth', block: 'center' });
</script>
