<div class="fixedDiv">
    <i class="fa" style="font-size: 18px; padding-left: 2px;">&#xf07a;</i>
    <span class="badge badge-warning shoppingCartItemsCount" id="shoppingCartItemsCount2"></span>
    <br style="clear: both;" />
    &nbsp;&nbsp;&nbsp;<span class="badge badge-warning shoppingCartTotalAmount" id="shoppingCartTotalAmount2"></span>
    <br style="clear: both;" />
    <a href="javascript: void(0);" onclick="javascript: return document.getElementById('divShoppingCart').scrollIntoView();" style="color: #000000; font-size: 13px; font-weight: bold; text-decoration: underline;">View Cart</a>
    <br style="clear: both;" />
    <a href="javascript: void(0);" onclick="javascript: return checkoutValidate_onclick();" style="color: #000000; font-size: 13px; font-weight: bold; text-decoration: underline;">Checkout</a>
    <br style="clear: both;" />
    <a href="javascript: void(0);" onclick="javascript: return document.getElementById('divOrderItem').scrollIntoView();" style="color: #000000; font-size: 13px; font-weight: bold; text-decoration: underline;">Back to top</a>
    <br style="clear: both;" />
    <div id="divErrorMessage2" style="color: #000000; font-family: Arial; font-size: 12px; font-weight: bold; text-align: left;"></div>
</div>
