@model ArchitectureLibraryModels.UpdatePasswordSuccessModel
@using ArchitectureLibraryModels
<div class="center">
    <ul style="color: #0000ff; font-family: Arial; font-size: 15px; font-weight: bold; margin: auto; text-align: left; width: 54%;">
        <li>
            Your password has been updated successfully
        </li>
        <li>
            If you did not request this, please contact our support
        </li>
        <li>
            Please login to access interesting features
        </li>
    </ul>
    <br style="clear: both;" />
    @Html.Partial("_LoginUserProf", Model.LoginUserProfModel)
</div>
