<ul style="color: #0000ff; font-family: Arial; font-size: 18px; font-weight: bold; text-align: left;">
    <li>
        Your password has been updated successfully
    </li>
    <li>
        If you did not request this, please contact our support
    </li>
    <li>
        Please login to access the other features
    </li>
    <li>
        <a href="@Url.Action("RegisterUserLoginUser", "Home")" style="color: #a54000; font-family: Arial; font-size: 18px; font-weight: bold; text-decoration: underline;">Click here to LOGIN</a>
    </li>
</ul>
