@model ArchitectureLibraryModels.PersonModel
<center>
    <h3 style="color: #a54000; font-weight: bold; letter-spacing: 5px; text-transform: uppercase;">USER&nbsp;&nbsp;PROFILE</h3>
    <button class="loginRegisterbtn" id="userProfileSave" onclick="javascript: return userProfileSave_onclick();" style="letter-spacing: 5px; text-transform: uppercase; width: 27%;" type="button">save</button>
</center>
<form id="formUserProfileData">
    @Html.Partial("_UserProfileData", Model)
</form>
<center>
    <button class="loginRegisterbtn" id="userProfileSave" onclick="javascript: return userProfileSave_onclick();" style="letter-spacing: 5px; text-transform: uppercase; width: 27%;" type="button">save</button>
</center>
<script type="text/javascript">
    $(".datepick").datepicker({
        changeMonth: true,
        changeYear: true,
    });
    function userProfileSave_onclick() {
        console.log("00000000", "userProfileSave_onclick", "ENTER!!!");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        //document.getElementById("divModalErrorMessage").innerHTML = "";
        var url = "/Home/UserProfile";
        $.ajax({
            url: url,
            type: "POST",
            //contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            cache: false,
            contentType: false,
            processData: false,
            data: new FormData(document.getElementById("formUserProfileData")),
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log("00001000", "loginUserSave_onclick success", responseData.processMessage);
                if (responseData.success) {
                    window.location = responseData.htmlString;
                }
                else {
                    document.getElementById("formUserProfileData").innerHTML = responseData.htmlString;
                }
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("formUserProfileData").innerHTML = xhr.responseText;
                console.log("00099000", "userProfileSave_onclick", "ERROR???", exception, xhr);
                //document.getElementById("divModalErrorMessage").innerHTML = JSON.parse(xhr.responseText).errorMessage;
                //document.getElementById("divModalErrorMessage").style.color = "#ff0000";
            }
        });
    }
    function InitialsTextValue_onchange(textValue) {
        for (var i = 1; i < @ArchitectureLibraryCacheData.LookupCache.CodeTypeModels.First(x => x.CodeTypeNameDesc == "InitialsText").CodeDataModelsCodeDataNameId.Count; i++) {
            document.getElementById("InitialsText" + i).innerHTML = textValue;
        }
    }
    function SignatureTextValue_onchange(textValue) {
        for (var i = 1; i < @ArchitectureLibraryCacheData.LookupCache.CodeTypeModels.First(x => x.CodeTypeNameDesc == "SignatureText").CodeDataModelsCodeDataNameId.Count; i++) {
            document.getElementById("SignatureText" + i).innerHTML = textValue;
        }
    }
</script>
