@model RetailSlnModels.PaymentInfo1Model
@{
    ViewBag.Title = "DeliveryInfo";
}
<div class="container center" id="divOrderProcess">
    @Html.Partial("_DeliveryInfo", Model)
</div>
<script type="text/javascript">
    function window_onload() {
    }
</script>
