@using RetailSlnModels
@model OrderItemModel
@{
    ViewBag.Title = "Index";
}
@Html.Partial(Model.ViewName, Model)
@*<div id="divHome">
</div>*@
<script type="text/javascript">
    function window_onload() {
        for (var count = 0; ; count++) {
            var menuCategoryItem = document.getElementById("menuCategory" + count);
            if (menuCategoryItem === null) {
                break;
            }
        }
        if (count == 1) {
            var menuCategoryItem = document.getElementById("menuCategory0");
            menuCategoryItem.classList.add("active_feature");
        }
        else {
            document.getElementById("current-active-feature").innerHTML = "@Model.ParentCategoryModel.CategoryDesc";
            for (var i = 0; ; i++) {
                var menuCategoryItem = document.getElementById("menuCategory" + i);
                if (menuCategoryItem === null) {
                    break;
                }
                if (menuCategoryItem.innerHTML === "@Model.ParentCategoryModel.CategoryDesc") {
                    //console.log(menuCategoryItem.classList);
                    menuCategoryItem.classList.add("active_feature");
                    break;
                }
            }
        }
        document.getElementById("divScrollIntoView").scrollIntoView({ behavior: 'smooth', block: 'center' });
    }
</script>
