@model OrderCategoryItemModel
@using RetailSlnModels
@{
    ViewBag.Title = "OrderCategoryItemList";
}
<div id="divOrderItem">
    @*@Html.Partial("_OrderCategoryItemList", Model)*@
    I am here - Now populate me by calling _OrderCategoryItemList
</div>
<script type="text/javascript">
    function window_onload() {
    }
</script>
