@{
    ViewBag.Title = "OrderListView";
}
<br style="clear: both;" />
<div id="divOrderItem">
    @Html.Partial("_OrderListView")
</div>
<script type="text/javascript">
    function paymentSave_onclick() {
        console.log("00000000", "paymentSave_onclick");
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        var url = "/Wholesale/Payment";
        var postData = $("#formPaymentData").serialize();
        $.ajax({
            url: url,
            type: "POST",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",//"application/x-www-form-urlencoded; charset=UTF-8",//"text/plain; charset=UTF-8", //false, //"application/json; charset=utf-8",
            //dataType: "html",
            data: postData,
            //async: false,
            success: function (responseData, textStatus, request) {
                $("#loadingModal").modal('hide');
                console.log(responseData);
                if (responseData.success) {
                    if (responseData.success) {
                        document.getElementById("divWholesale").innerHTML = responseData.htmlString;
                        document.getElementById("shoppingCartItemsCount").innerHTML = "Empty";
                        document.getElementById("shoppingCartTotalAmount").innerHTML = "Cart";
                        document.getElementById("divWholesale").scrollIntoView();
                    }
                    else {
                        document.getElementById("formPaymentData").innerHTML = responseData.htmlString;
                    }
                }
                else {
                    document.getElementById("formPaymentData").innerHTML = responseData.htmlString;
                }
                console.log("00001000", "deliveryInfoSave_onclick success", responseData.processMessage);
                $("#loadingModal").modal('hide');
            },
            error: function (xhr, exception) {
                $("#loadingModal").modal('hide');
                document.getElementById("formPaymentData").innerHTML = xhr.responseText;
                console.log("00099000", "paymentSave_onclick error", exception, xhr);
                $("#loadingModal").modal('hide');
            }
        });
    }
    function window_onload() {
    }
</script>
<script src="~/Include/orderItemCode.js" type="text/javascript"></script>
