@model string
@using RetailSlnCacheData
@{
    ViewBag.Title = "SearchResult";
}
Search results for : <span style="color: #000000;">@Model</span>
<br />
@Html.Partial("_SearchResultCategory", Model)
<br />
@Html.Partial("_SearchResultItem", Model)
<script type="text/javascript">
    function window_onload() {
    }
</script>
