@model RetailSlnModels.OrderCategoryItemModel
@using RetailSlnCacheData
@using RetailSlnModels
@{
    ViewBag.Title = "OrderCategoryItem";
    CategoryLayoutModel categoryLayoutModel = RetailSlnCache.CategoryLayoutModels[0];
    List<CategoryItemHierModel> categoryItemHierModels = categoryLayoutModel.CategoryItemHierModels;
}
<div id="divOrderItem">
</div>
@*Html.Partial("_Carousel")*@
<script type="text/javascript">
    var categoryCount = parseInt("@categoryItemHierModels.Count");
    categoryId1_onclick(@Model.ParentCategoryId, 1);
    function window_onload() {
    }
    function categoryId1_onclick(categoryId, pageNum) {
        console.log("categoryId_onclick", "00000000", "ENTER!!!", categoryId);
        $("#loadingModal").modal({ backdrop: 'static', keyboard: false });
        document.getElementById("divErrorMessage").innerHTML = "";
        var url = "@Url.Action("OrderCategoryItemData", "Home")" + "?id=" + categoryId + "&pageNum=" + pageNum;
        $.ajax({
            url: url,
            type: "GET",
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            //data: jsonPostDataString,
            success: function (responseData, textStatus, request) {
                $('#loadingModal').modal('hide');
                console.log("00001000", "categoryId_onclick success", responseData.processMessage);
                if (responseData.success) {
                    document.getElementById("selectedCategoryDesc").innerHTML = "";
                    var menuItemObject, menuItemObjectA, menuCategoryIdObject, menuCategoryIdObjectA;
                    for (var i = 1; i < categoryCount; i++) {
                        menuItemObject = document.getElementById("menuItem" + i);
                        menuItemObjectA = document.getElementById("menuItemA" + i);
                        menuCategoryIdObject = document.getElementById("menuCategoryId" + i);
                        menuCategoryIdObjectA = document.getElementById("menuCategoryIdA" + i);
                        if (menuCategoryIdObject.innerHTML == categoryId || menuCategoryIdObjectA.innerHTML == categoryId) {
                            menuItemObject.className = "active";
                            menuItemObjectA.className = "active";
                            document.getElementById("selectedCategoryDesc").innerHTML = menuItemObject.innerHTML;
                        }
                        else {
                            menuItemObject.className = "";
                            menuItemObjectA.className = "";
                        }
                    }
                    document.getElementById("divContainerBody").innerHTML = responseData.htmlString;
                    document.getElementById("divContainerBody").scrollIntoView();
                }
                else {
                    document.getElementById("divErrorMessage").innerHTML = responseData.htmlString;
                }
            },
            error: function (xhr, exception) {
                $('#loadingModal').modal('hide');
                console.log("categoryId_onclick", "00099000", "ERROR???");
                document.getElementById("divErrorMessage").innerHTML = "Error occurred";
                console.log(xhr, exception);
            }
        });
    }
</script>
