@model ArchitectureLibraryModels.IndexModel
<div class="col-md-6" style="float: left; padding-right: 18px; text-align: left;">
    @Html.Partial("_LoginUserProf", Model.LoginUserProfModel)
</div>
<div class="col-md-6" style="float: left; padding-right: 18px; text-align: left;">
    @Html.Partial("_RegisterUserProf", Model.RegisterUserProfModel)
</div>
<br style="clear: both;" />

