@model RetailAdmModels.DashboardModel
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
@Html.Partial("_Dashboard", Model)
<script type="text/javascript">
    function window_onload() {
    }
</script>
