@using ArchitectureLibraryCacheData
@using RetailSlnEnumerations
@using RetailSlnModels
@model OrderItem1Model
@{
    var clientId = ArchLibCache.ClientId;
    var clientName = ArchLibCache.ClientName;
    string imageDateTime = "?id=" + DateTime.Now.ToString("yyyyMMddHHmmss");
}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width: 99%;">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="float: left; text-align: left; vertical-align: top;">
        @if (Model.ItemMasterModel.ItemModels.Count == 1)
        {//Single Item
            if (Model.ItemMasterModel.ItemTypeId == ItemTypeEnum.ItemBundle)
            {//Bundle
                @Html.Partial("_OrderItem1C", Model)
            }
            else
            {//Individual Item
                @Html.Partial("_OrderItem1A", Model)
            }
        }
        else
        {//Dropdown
            if (Model.ItemMasterModel.ItemTypeId == ItemTypeEnum.ItemBundle)
            {//Bundle
                @Html.Partial("_OrderItem1C", Model)
            }
            else
            {//Individual Item
                @Html.Partial("_OrderItem1A", Model)
            }
        }
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="float: left; text-align: left; vertical-align: top;">
        <img class="img-responsive" src="~/ClientSpecific/@(clientId)_@(clientName)/Documents/Images/ItemMaster/@Model.ItemMasterModel.ImageName@imageDateTime" />
    </div>
</div>
