@using RetailSlnModels
@model ItemCatalogModel
@{
    ViewBag.Title = "ItemCatalog";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    PaymentInfoModel paymentInfoModel = (PaymentInfoModel)Session["PaymentInfo"];
    if (paymentInfoModel != null && paymentInfoModel.ShoppingCartModel != null)
    {
        paymentInfoModel.ShoppingCartModel.Checkout = false;
    }
}
<div id="divItemCatalog" style="display: none;">
    @Html.Partial("_ItemCatalog", Model)
</div>
<script type="text/javascript">
    function window_onload() {
        $(document).ready(function () {
            document.getElementById("divItemCatalog").style.display = "block";
        });
    }
</script>
