@model ArchitectureLibraryModels.CookiePolicyModel
@using ArchitectureLibraryCacheData
@{
    var clientId = ArchLibCache.ClientId;
}
<style>
    .textclass {
        color: #303030;
        font-family: Futura, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
</style>
<br style="clear: both;" />
<div class="center" style="padding-left: 12%; padding-right: 12%; text-align: left;">
    <h1 style="color: #000000; font-weight: bold;">Cookie Policy</h1>
    <div class="textclass">
        This document is meant to explain the types of cookies and other tracking technologies that @ArchLibCache.GetApplicationDefault(clientId, "BusinessNameAbbrev", "") may place on your device, either when you are visiting our web properties
        <h2 style="color: #000000; font-family: Arial; font-weight: bold;">What are cookies?</h2>
        A cookie is a small amount of information that’s downloaded to your computer or device when you visit certain websites. We use a number of different cookies on the Shopify website, including strictly necessary, performance, advertising, and social media or content cookies. Cookies make your browsing experience better by allowing the website to remember your actions and preferences (such as login and region selection). This means you don’t have to re-enter this information each time you return to the site or browse from one page to another. Cookies also provide information on how people use the website, for instance whether it’s their first time visiting or if they are a frequent visitor. Read more about cookies (and other similar tracking technologies) and how we use the data collected through these technologies, in our <a href="@Url.Action("PrivacyPolicy", "Home")" style="color: #0000ff; font-family: Arial; font-size: 14px; font-weight: bold; text-decoration: underline;" target="_blank">Privacy Policy</a>.
        <h2 style="color: #000000; font-family: Arial; font-weight: bold;">What cookies do we use and why?</h2>
        Some cookies are necessary to allow you to browse our website, use its features, and access secure areas. The use of these cookies is essential for the website to work. For example, we use user-input cookies for the duration of a session to keep track of a user’s input when filling in forms that span several pages.
        <br /><br />
        We also use functional cookies to remember choices you’ve made or information you’ve provided, such as your username, language, or the region you are in. This allows us to tailor your website experience specifically to your preferences. For example, authentication cookies are functional cookies that are used for the duration of a session (or persistent, if you agree to the “remember me” function) to allow users to authenticate themselves on subsequent visits or to gain access to authorized content across pages. The functional cookies we use include:
        <br /><br />
        <ul>
            <li>
                User-centric security cookies to detect authentication abuses for a limited persistent duration, like repeated failed login attempts. These cookies are set for the specific task of increasing thesecurity of the service.
            </li>
            <li>
                Multimedia content player session cookies (flash cookies) are used for the duration of a session to store technical data needed to play back video or audio content (e.g. image quality, network link speed, and buffering parameters).
            </li>
            <li>
                Load balancing session cookies are used for the duration of the session to identify the same server in the pool in order for the load balancer to redirect user requests appropriately.
            </li>
            <li>
                User interface customization persistent cookies are used to store a user’s preference regarding a service across web pages.
            </li>
        </ul>
        Shopify is dedicated to user experience and we use many tools to help us improve our website and our commerce platform. To this end, we use reporting and analytics cookies to collect information about how you use our website or our merchants’ storefronts, and how often. These cookies only gather information for statistical purposes and only use pseudonymous cookie identifiers that do not directly identify you. The performance cookies we use include:
        <br /><br />
        <ul>
            <li>
                First party analytics cookies - We use these cookies to estimate the number of unique visitors, to improve our websites and our merchants’ websites, and to detect the most searched for words in search engines that lead to a webpage. These cookies are not used to target you with online marketing. We use these cookies to learn how our websites and our merchants’ websites are performing and make relevant improvements to improve your browsing experience.
            </li>
            <li>
                Third party analytics cookies - We also use Google Analytics and other third-party analytics providers listed below to help measure how users interact with our website content. These cookies “remember” what our users have done on previous pages and how they’ve interacted with the website. For more information on Google Analytics, visit <a class="body-link" rel="nofollow noopener noreferrer" target="_blank" href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google’s information page</a>. For instructions on how to opt out of Google Analytics, see below.
            </li>
        </ul>
        Advertising cookies are used on our website to tailor marketing to you and your interests and provide you with a more personalized service in the future. These cookies remember that you visited our website and we may share this information with third-parties, such as advertisers. Although these cookies can track your device’s visits to our website and other sites, they typically cannot personally identify you. Without these cookies, the advertisements that you see may be less relevant and interesting to you. Read more about how companies use cookies to conduct targeted or retargeted advertising here. We do not set advertising cookies through our merchants’ storefronts ourselves, though merchants may choose to do so independently.
        <br /><br />
        Finally, Social and Content cookies are placed by many social media plugins (for example the Facebook ’like’ button), and other tools meant to provide or improve the content on a website (for example services that allow the playing of video files, or that create comments sections). We integrate these modules into our platform to improve the experience of browsing and interacting with our websites. Please note that some of these third party services place cookies that are also used for things like behavioural advertising, analytics, and/or market research.
        <h2 style="color: #000000; font-family: Arial; font-weight: bold;">@ArchLibCache.GetApplicationDefault(clientId, "BusinessNameAbbrev", "") websites</h2>
        <p>
            When visitors load Shopify’s websites, we generally place the following @ArchLibCache.GetApplicationDefault(clientId, "BusinessNameAbbrev", "") cookies:
        </p>
        <p><strong>Cookies Necessary for the Functioning of the Sites</strong></p>
        <table class="table table-condensed">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Function
                </th>
                <th>
                    Duration
                </th>
            </tr>
            <tr>
                <td>
                    ShoppingCart
                </td>
                <td>
                    Used in connection while shopping through site.
                </td>
                <td>
                    20 minutes
                </td>
            </tr>
            <tr>
                <td>
                    SessionObject
                </td>
                <td>
                    Used in connection with login
                </td>
                <td>
                    20 minutes
                </td>
            </tr>
        </table>
    </div>
</div>
