@model OrderCategoryItemModel
@using RetailSlnCacheData
@using RetailSlnEnumerations
@using RetailSlnModels
@{
    CategoryLayoutModel categoryLayoutModel = RetailSlnCache.CategoryLayoutModels[0];
    List<CategoryItemMasterHierModel> categoryItemMasterHierModels = categoryLayoutModel.CategoryItemMasterHierModels.FindAll(x => x.CategoryModel.CategoryStatusId == CategoryStatusEnum.Active);
}
<div id="divOrderItem">
</div>
<script type="text/javascript">
    var categoryCount = parseInt("@categoryItemMasterHierModels.Count");
    categoryId_onclick(@Model.ParentCategoryId, 1, "@Url.Action(Model.ActionName, Model.ControllerName)");
    function window_onload() {
    }
</script>
