@model RetailSlnModels.ItemImageListModel
<table class="table table-condensed table-responsive" style="padding: 0px;">
    <tr>
        <td style="padding: 0px; width: 65%;">
            <table class="table table-bordered" style="width: 81%;">
                <colgroup>
                    <col style="width: 27%;" />
                    <col style="width: 45%;" />
                </colgroup>
                <tr>
                    <th class="text-center" colspan="2" style="background: #e5e4e2; color: #0000ff; font-size: 20px;">
                        Images
                    </th>
                </tr>
            </table>
    </tr>
</table>
