@using ArchitectureLibraryCacheData
@model ArchitectureLibraryModels.RegisterUserProfModel
<style>
    #UserTypeId-error {
        color: #ff0000;
        display: block;
        font-size: 14px;
        font-weight: bold;
    }
</style>
<div class="row" style="text-align: left;">
    @Html.LabelFor(m => m.UserTypeId, new { @class = "col-form-label" })&nbsp;<span style="color: #0000ff; font-weight: bold;">(Required)</span>
    @Html.DropDownListFor(m => m.UserTypeId, new SelectList(ArchLibCache.UserTypes, "Value", "Text", Model.UserTypeId), "--- Select ---", new { @class = "form-control", style = "font-size: 14px; width: 90%;" })
    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationMessageFor(m => m.UserTypeId, "", new { id = "UserTypeId-error" }).ToHtmlString()))
</div>
