@model RetailSlnModels.GiftCertModel
@{
    ViewBag.Title = "GiftCertReceipt";
}
<h2 class="text-center mb-4" style="color: #a54000; font-weight: bold; letter-spacing: 9px; text-transform: uppercase;">
    Gift&nbsp;&nbsp;Certificate&nbsp;&nbsp;Receipt
</h2>

@Html.Partial("_GiftCertReceipt", Model)
<script type="text/javascript">
    function window_onload() {
    }
</script>
