@using RetailSlnModels
@model OrderApprovalModel
@{
    ViewBag.Title = "OrderApproval";
}
<h2>Order Approval</h2>
@Html.Partial("_OrderApproval", Model)
<script type="text/javascript">
    function window_onload() {
    }
</script>
